@{
    ViewBag.Title = "AuditTrial";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<body>
    @using (Html.BeginForm(FormMethod.Post))
    {

        <div class="inner_tbldiv" style="margin-top:0px">
            <div class="man_field">* Mandatory Field</div><label id="lblError" name="lblError" style=" color:red"> </label>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" class="inner_tb">
                <tr>
                    <th colspan="7">Audit Trial</th>
                </tr>

                <tr>
                    <td width="10%" class="tb-r2">User Name<span class="star">*</span></td>
                    <td width="20%" class="tb-r2">
                        @Html.DropDownList("ddlUserNameListForAudit", PfizerEntity.UsefulLink.GetUserNameListForAudit(), "Select")
                    </td>
                    <td class="tb-r2" width="10%">From Date<span class="star">*</span></td>
                    <td class="tb-r2" width="25%">
                        <input type="text" id="txtFrmdate" class="tboxlargedate" value="" onclick="$(function () { $('#txtFrmdate').datepicker(); });" />

                    </td>
                    <td class="tb-r2" width="10%">End Date<span class="star">*</span></td>
                    <td class="tb-r2" width="25%">
                        <input type="text" id="txttodate" class="tboxlargedate" value="" onclick="$(function () { $('#txttodate').datepicker(); });" />

                    </td>
                    <td width="15%"><input class="blue_button add_btn" type="button" width="5%" id="btnFetch" value="Go"></td>
                </tr>

            </table>
        </div>

        <div>
            <table>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
            </table>

        </div>
        <div>
            <table border="0" style="width: 100%">
                <tr>
                    <td>
                        <!--JqGrid Starts-->
                        <table style="margin-top: 7px; width :100%" border="0">
                            <tr><td align="center"><span style="font-weight:bold"><label id="lblmsg" style="color:black" /></span></td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td>
                                    <table id="AuditTrial" style="width: 100%" border="0"></table>
                                    <div id="AuditTrialPager">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!--Ends-->
                        <input type="hidden" id="hdnPager" name="hdnPager" />

                    </td>
                </tr>
            </table>

        </div>
    }

    <script type="text/javascript">

        $('#btnFetch').click(function () {
            if ($('#ddlUserNameListForAudit').val() == '') {
                $('[id$=lblError]').text("Please Select User Name");
                $("#ddlUserNameListForAudit").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#ddlUserNameListForAudit').focus();
                return false;
            }
            else
            {
                $("#ddlUserNameListForAudit").css("background-color", "#FFE8E8").css("border", "1px solid #d5d5d5");
                lblError.textContent = "";
            }

            if ($('#txtFrmdate').val() == '') {
                $('[id$=lblError]').text("Please Select From date");
                $("#txtFrmdate").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#txtFrmdate').focus();
                return false;
            }
            else {
                $("#txtFrmdate").css("background-color", "#FFE8E8").css("border", "1px solid #d5d5d5");
                lblError.textContent = "";
            }
            if ($('#txttodate').val() == '') {
                $('[id$=lblError]').text("Please Select To Date");
                $("#txttodate").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#txttodate').focus();
                return false;
            }
            else {

                $("#txttodate").css("background-color", "#FFE8E8").css("border", "1px solid #d5d5d5");
                lblError.textContent = "";
            }

            if ($('#txtFrmdate').val() != '' && $('#txtTodate').val() != '') {


                var date1 = $('#txtFrmdate').val().split('/')[1] + '/' + $('#txtFrmdate').val().split('/')[0] + '/' + $('#txtFrmdate').val().split('/')[2];
                var date2 = $('#txttodate').val().split('/')[1] + '/' + $('#txttodate').val().split('/')[0] + '/' + $('#txttodate').val().split('/')[2];
                var startDate = new Date(date1);
                var endDate = new Date(date2);

                if (startDate > endDate) {
                    $("#lblError").text('End date should be greater than Start date');
                    $('#txttodate').focus();
                    $("#txttodate").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                    return false;
                }
            }


            //lblmsg.textContent = "Usage Report Of " + $("#ddlUserNameList option:selected").text() + " as on " + $("#txttodate").val();
            initGrid();

        });

        function initGrid() {
            $('#AuditTrial').jqGrid('GridUnload');
            jQuery("#AuditTrial").jqGrid({
                url: '@Url.Action("GetAuditTrial")?PKID=' + $('#ddlUserNameListForAudit').val() + '&FDATE=' + $('#txtFrmdate').val() + '&TODATE=' + $('#txttodate').val(),
                datatype: "json",
                jsonReader: { repeatitems: false, id: "PKID" },
                colNames: ['PKID', 'User Name', 'Page Name', 'DateIn', 'TimeIn', 'DateOut', 'TimeOut', 'IpAddress'],
                colModel: [
                    { name: 'PKID', index: 'PKID', align: 'left', hidden: true, editable: false },
                     { name: 'USERName', index: 'USERName', align: 'left', hidden: false, editable: false },
                     { name: 'PageName', index: 'PageName', align: 'left', hidden: false, editable: false },
                     { name: 'DateIn', index: 'DateIn', align: 'left', hidden: false, editable: false },
                     { name: 'TimeIn', index: 'TimeIn', align: 'left', hidden: false, editable: false },
                     { name: 'DateOut', index: 'DateOut', align: 'left', hidden: false, editable: false },
                     { name: 'TimeOut', index: 'TimeOut', align: 'left', hidden: false, editable: false },
                     { name: 'IpAddress', index: 'IpAddress', align: 'left', hidden: false, editable: false },
                ],

                autowidth: true,
                gridview: true,
                caption: 'Audit Trial',
                jqModal: true,
                rowTotal: 10,
                rowNum: 10,
                align: 'center',
                sortable: true,
                hidegrid: true,
                altRows: true,
                sortname: 'PKID',
                sortorder: 'desc',
                viewrecords: true,
                pager: $('#AuditTrialPager'),
                height: 'auto',
                editable: true,
                gridComplete: function () {

                    if (jQuery("#AuditTrial").getGridParam("records") == 0) {

                        jQuery("#AuditTrial").addRowData(

                        "blankRow", { "USERName": "No records to view" });
                    }
                },


            });
            jQuery("#AuditTrial").jqGrid('navGrid', '#AuditTrialPager', { edit: false, add: false, del: false, search: false, view: false });


            setMethod('AuditTrial', 'AuditTrialPager', 'Audit Trial');

        }
        function setMethod(gid, id, pgTitle) {

            var btnTitle = 'Export to Excel';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-calculator', onClickButton: function () { ExcelExport(); } });

            var btnTitle = 'Export to PDF';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-bookmark', onClickButton: function () { PDFExport(); } });

            var btnTitle = 'Export to CSV';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-note', onClickButton: function () { CSVExport(); } });


            var btnTitle = 'Print Grid';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-print', onClickButton: function () { PrintGrid(gid); } });
        }
        function ExcelExport() {
            window.location = '@Url.Action("ExportAuditTrialToExcel")?PKID=' + $('#ddlUserNameListForAudit').val() + '&FDATE=' + $('#txtFrmdate').val() + '&TODATE=' + $('#txttodate').val();
        }
        function PDFExport() {
            window.location = '@Url.Action("ExportAuditTrialToPDF")?PKID=' + $('#ddlUserNameListForAudit').val() + '&FDATE=' + $('#txtFrmdate').val() + '&TODATE=' + $('#txttodate').val();
        }
        function CSVExport() {
            window.location = '@Url.Action("ExportAuditTrialToCsv")?PKID=' + $('#ddlUserNameListForAudit').val() + '&FDATE=' + $('#txtFrmdate').val() + '&TODATE=' + $('#txttodate').val();
        }
        function PrintGrid(gid) {
            // empty the print div container.
            var rows = $('#AuditTrial').jqGrid('getRowData');
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                $('#Table1').append("<tr><td>" + row.USERName + "</td><td>" + row.PageName + "</td><td>" + row.DateIn + "</td><td>" + row.TimeIn + "</td><td>" + row.DateOut + "</td><td>" + row.TimeOut + "</td><td>" + row.IpAddress + "</td></tr>");

            }
            $(function () { printChrome('prt-container') });

        }

        function printChrome(divContainer) {

            var printContent = document.getElementById(divContainer);
            window.document.body.innerHTML = printContent.innerHTML;
            window.print();
            window.location.reload();
        }
        $(document).ready(function () {
            $("#txtFrmdate").val($.datepicker.formatDate("dd/mm/yy", new Date()));
            $("#txttodate").val($.datepicker.formatDate("dd/mm/yy", new Date()));

            $("#txtFrmdate").datepicker({ changeMonth: true, changeYear: true, yearRange: '1900:myDate', dateFormat: 'dd/mm/yy', maxDate: 0 });
            $("#txttodate").datepicker({ changeMonth: true, changeYear: true, yearRange: '1900:myDate', dateFormat: 'dd/mm/yy', maxDate: 0 });


        });

    </script>
    <div id='prt-container' style="display:none">
        <table id="Table1" border="1" width="100%">
            <thead>
                <tr>
                    <td><b>User Name</b></td>
                    <td><b>Page Name</b></td>
                    <td><b>DateIn</b></td>
                    <td><b>TimeIn</b></td>
                    <td><b>DateOut</b></td>
                    <td><b>TimeOut</b></td>
                    <td><b>IpAddress</b></td>
                </tr>

            </thead>
            <tbody></tbody>

        </table>
    </div>
</body>
