@{
    ViewBag.Title = "DoctorTransferCopy";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<style type="text/css">
    select {
        width: 160px;
    }
</style>

<body>
    @using (Html.BeginForm(FormMethod.Post))
    {
         
            <div class="inner_tbldiv" style=" margin-top:0; vertical-align:top">
                <div style="text-align:center;"><label id="lblError" style=" color:red"></label></div>
                <table style="width:85% !important; height:95%" border="1" cellspacing="0" cellpadding="0" class="inner_tb">
                    <tr>
                        <th colspan="4" style=" width:50%" align="center" valign="middle">Doctor Transfer / Copy </th>
                        
                    </tr>
                    <tr>
                        <td width="20%" valign="middle" align="left" class="tb-r2"></td>
                        <td width="30%" valign="middle" align="left" class="tb-r2">Source </td>
                        <td width="20%" valign="middle" align="left" class="tb-r2"></td>
                        <td width="30%" valign="middle" align="left" class="tb-r2">Destination</td>

                    </tr>

                    <tr>

                        <td width="20%" valign="middle" align="left" class="tb-r1">Division<span class="star">*</span></td>
                        <td width="30%" valign="middle" align="left" class="tb-r1">
                            @Html.DropDownList("ddlSDivision", PfizerEntity.UsefulLink.GetSDivision(), "Select")

                        </td>
                        <td width="20%" valign="middle" align="left" class="tb-r1">Division<span class="star">*</span></td>
                        <td width="30%" valign="middle" align="left" class="tb-r1">
                            @Html.DropDownList("ddlDDivision", PfizerEntity.UsefulLink.GetSDivision(), "Select")

                        </td>


                    </tr>

                    <tr>

                        <td width="20%" valign="middle" align="left" class="tb-r2">Territory<span class="star">*</span></td>
                        <td width="30%" valign="middle" align="left" class="tb-r2">
                            @Html.DropDownList("ddlSTerritory",new[]{ new SelectListItem { Text="Select", Value=""}})

                        </td>
                        <td width="20%" valign="middle" align="left" class="tb-r2">Territory<span class="star">*</span></td>
                        <td width="30%" valign="middle" align="left" class="tb-r2">
                            @Html.DropDownList("ddlDTerritory", new[] { new SelectListItem { Text = "Select", Value = "" } }) 
                        </td> 
                    </tr>


                    <tr>

                        <td width="20%" valign="middle" align="left" class="tb-r1">Area<span class="star">*</span></td>
                        <td width="30%" valign="middle" align="left" class="tb-r1">

                            @Html.ListBox("lstArea", new[]{

                                            new SelectListItem { Text="All", Value=""} }, new { @size = 5 })


                        </td>
                        <td width="20%" class="tb-r1" align="left">&nbsp;&nbsp;&nbsp;<input type="button" class="blue_button" value="Fetch" id="btnFetch"  /></td>
                        <td width="30%" class="tb-r1"></td>
                    </tr>

                    <tr>

                        <td width="20%" valign="middle" align="left" class="tb-r2">Doctors</td>
                        <td width="30%" valign="middle" align="left" class="tb-r2">

                            @Html.ListBox("lstDocotors", new[]{

                                            new SelectListItem { Text="Select", Value=""} }, new { @size=9})

                        </td>
                        <td width="20%" align="left" class="tb-r2">

                            <table align="left">
                                <tr>
                                    <td align="left">
                                        <br />
                                        <input type="button" class=" blue_button" value="Transfer >>" id="btnTransfer" name="btnTransfer" />
                                        <input type="button" class="blue_button" value="<< Remove" id="btnRemove" name="btnRemove" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                      
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <br /> 
                                        <input type="button" class="blue_button" value="Copy >>" id="btnCopy" name="btnCopy" />
                                        <input type="button" class="blue_button" value="<< Remove" id="btnRemoveCopy" name="btnRemoveCopy" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                      

                                    </td>
                                </tr>
                            </table>


                        </td>
                        <td width="30%" class="tb-r2">
                            @Html.ListBox("lstDocTranster", new[]{

                                            new SelectListItem { Text="Select", Value=""} }, new { @size = 4 }) 
                            <br />
                            <br />
                            @Html.ListBox("lstDocCopy", new[]{

                                            new SelectListItem { Text="Select", Value=""} }, new { @size = 4 })

                        </td>
                    </tr>

                   

                    <tr>


                        <td class="tb-r1" align="center" colspan="4"><input type="button" class="orange_button" value="Submit" id="btnSubmit" name="btnSubmit" />&nbsp;
                        <input type="button" class="orange_button" value="Cancel" id="btnCancel" name="btnCancel" />
                        
                            <input id="hdnTDMPKID" type="hidden" name="hdnTDMPKID">
                            <input id="hdnCDMPKID" type="hidden" name="hdnTDMPKID">
                            <input id="NtTrDrlist" type="hidden" name="NtTrDrlist">
                            <input id="NtCyDrlist" type="hidden" name="NtCyDrlist">
                        
                        </td>
                    </tr>


                   

                </table>
              
            </div>

        }
        <script type="text/javascript">


    $(document).ready(function () {
        $("#lblError").text('');
        $("#lblError").css("color", "red");
        $('#hdnTDMPKID').val('');
        $('#hdnCDMPKID').val('');
        $('#NtTrDrlist').val('');
        $('#NtCyDrlist').val('');
    });

    $('#lstArea').change(function () {

        if ($('#lstArea').val()=='')
        {
            $("#lstArea option").prop("selected", true);
            $("#lstArea option:first").removeAttr('selected');
        }

    });


    function Validate(value) {
       
        if ($('#ddlSDivision').val() == "") {

            $("#lblError").text("Please Select Valid Source Side Division");
            $('#ddlSDivision').focus();
            $("#ddlSDivision").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
            return "0";
        }
        if ($('#ddlSTerritory').val() == "") {
            $('#ddlSDivision').css("border", "1px solid #C0C0C0");
            $("#lblError").text("Please Select Valid Source Side Territory");
            $('#ddlSTerritory').focus();
            $("#ddlSTerritory").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
            return "0";
        }

        if (($('#lstArea').val() == null || $('#lstArea').val() == '')) {
            $('#ddlSTerritory').css("border", "1px solid #C0C0C0");
            $("#lblError").text("Please Select Valid Area Name");
            $('#lstArea').focus();
            $("#lstArea").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
            return "0";
        }
        if (value == 'submit') {


            if ($('#ddlDDivision').val() == "") {
                $('#lstArea').css("border", "1px solid #C0C0C0");
                $("#lblError").text("Please Select Valid Destination Side Division");
                $('#ddlDDivision').focus();
                $("#ddlDDivision").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                return "0";
            }
            if ($('#ddlDTerritory').val() == "") {
                $('#ddlDDivision').css("border", "1px solid #C0C0C0");
                $("#lblError").text("Please Select Valid Destination Side Territory");
                $('#ddlDTerritory').focus();
                $("#ddlDTerritory").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                return "0";
            }
            if (($('#lstDocTranster').val() == "" || $('#lstDocTranster').val() == null) && ($('#lstDocCopy').val() == "" || $('#lstDocCopy').val() == null)) {
                $('#ddlDTerritory').css("border", "1px solid #C0C0C0");
                $("#lblError").text("Please Select atleast one valid Doctor");
                $('#lstDocotors').focus();
                $("#lstDocotors").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                return "0";
            }
            //Check Same Doctor found in both Copy and Transfer

            var transfer = $('#lstDocTranster').val();
            var copy = $('#lstDocCopy').val();
          
            if ("" + transfer + "" == "" + copy + "") {
                $('#lstDocotors').css("border", "1px solid #C0C0C0");
                $("#lblError").text("Same Doctor available in Transfer and Copy in the List");
                $('#lstDocTranster').focus();
                $("#lstDocTranster").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $("#lstDocCopy").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                return "0";
            }

        }

    }



    $('#btnSubmit').click(function () {
        

     
                var err = Validate('submit');
                if (err == "0")
                    return false;
                else
                {
                    $('select').css("border", "1px solid #C0C0C0");

                    var lstDocTranster = '';
                    var lstDocCopy = '';

                    $("#lstDocTranster option").each(function () {
                        lstDocTranster += $(this).val() + ",";
                    });

                    $("#lstDocCopy option").each(function () {
                        lstDocCopy += $(this).val() + ",";
                    });


                    if ($('#lstDocTranster').val() != '' && $('#lstDocTranster').val() != null) {
                        $.getJSON('@Url.Action("JsonChkSPecialityforTrDr")?DTerritoryFKID=' + $('#ddlDTerritory').val() + '&drpDTDoctor=' + lstDocTranster + '&STerritoryFKID=' + $('#ddlSTerritory').val(), function (data) {
                            
                            if (data.TrDrlist != null) {
                                $('#hdnTDMPKID').val(data.TrDrlist);
                            }
                            $('#NtTrDrlist').val(data.NotTrDrlistStr);
                        });
                    }
                    if ($('#lstDocCopy').val() != '' && $('#lstDocCopy').val() != null)
                    {
                    $.getJSON('@Url.Action("JsonChkSPecialityforCyDr")?DTerritoryFKID=' + $('#ddlDTerritory').val() + '&drpDTDoctor=' + lstDocCopy + '&STerritoryFKID=' + $('#ddlSTerritory').val(), function (data) {
                        
                        if (data.CyDrlistStr != null) {
                            $('#hdnCDMPKID').val(data.CyDrlistStr);
                    } 
                        $('#NtCyDrlist').val(data.NotCyDrlistStr);
                    });
                }

                    var TotNotDr = '';
                    if ($('#NtTrDrlist').val() != null && $('#NtCyDrlist').val() != null) {
                        TotNotDr = $('#NtTrDrlist').val() + ',' + $('#NtCyDrlist').val();
                    }
                    if ($('#NtTrDrlist').val() != null && $('#NtCyDrlist').val() == null) {
                        TotNotDr = $('#NtTrDrlist').val();
                    }

                    if ($('#NtTrDrlist').val() == null && $('#NtCyDrlist').val() != null) {
                        TotNotDr = $('#NtCyDrlist').val();
                    }

                   
                    if (TotNotDr.length > 1) {

                        $.getJSON('@Url.Action("JsonGetSplDoctorName")?DocPKID=' + TotNotDr , function (data) {  
                            var doctor = data.Doctor;
                            $("#lblError").text(" Unable to Transfer/ Copy the Below Doctor \nDue to Non-Availability of Specialty Team Link for the Selected User  Dr. " + doctor);
                            return false;
                        }); 


                    }


                    if ($('#hdnCDMPKID').val() == $('#hdnTDMPKID').val()) { 
                        $("#lblError").text("Please select atleast one Valid Doctor");
                        return false;
                    }
                    else {
                        $("#lblError").text("");
                        //Final Submit
                      
                    
                        if ($("#hdnTDMPKID").val() != "") {
                            $.getJSON('@Url.Action("JsonSubmit")?TerritoryDFKID=' + $("#ddlDTerritory").val() + '&TerritorySFKID=' + $("#ddlSTerritory").val() + '&xml=' + $("#hdnTDMPKID").val()+'&cond='+'transfer', function (data) {

                                $("#lblError").text(data.msg);

                            });
                        }
                        if ($("#hdnCDMPKID").val() != "") {
                            $.getJSON('@Url.Action("JsonSubmit")?TerritoryDFKID=' + $("#ddlDTerritory").val() + '&TerritorySFKID=' + $("#ddlSTerritory").val() + '&xml=' + $("#hdnCDMPKID").val() + '&cond=' + 'copy', function (data) {
                              
                                $("#lblError").text(data.msg);
                                $("#lblError").css("color", "green");

                            });
                        }

                        /*clear Selection */
                        $('select').css("border", "1px solid #C0C0C0");
                        $('select').val('');  
                        $('#lstDocotors').empty();
                        $('#lstDocotors').append("<option value=''>Select</option>");
                        $('#lstDocTranster').empty();
                        $('#lstDocTranster').append("<option value=''>Select</option>"); 
                        $('#lstDocCopy').empty();
                        $('#lstDocCopy').append("<option value=''>Select</option>");
                        $('#lstArea').empty();
                        $('#lstArea').append("<option value=''>Select</option>");

                    }


            

    }
    });
    $('#btnCancel').click(function () {
        $('select').css("border", "1px solid #C0C0C0");
        $("#lblError").text("");
        $('#ddlDDivision').val('');
        $('#ddlDTerritory').empty();
        $('#ddlDTerritory').append("<option value=''>Select</option>");
        ReverseTransferSelected();
        ReverseCopySelected();
    });

    $('#btnCopy').click(function () {

        MoveCopySelected();
    });

    $('#btnRemoveCopy').click(function () {

        ReverseCopySelected();
    });


    $('#btnTransfer').click(function () {

        MoveTransferSelected();
    });

    $('#btnRemove').click(function () {

        ReverseTransferSelected();
    });


    function MoveTransferSelected() {

        $('#lstDocotors :selected').each(function (i, selected) {
            $('#lstDocTranster')
                 .append($('<option selected="selected" value=' + $(selected).val() + '>')
                 .text($(selected).text()));
            $('#lstDocotors :selected').remove();
        });
    }

    function ReverseTransferSelected() {

        $('#lstDocTranster :selected').each(function (i, selected) {
            $('#lstDocotors')
                 .append($('<option>', { value: $(selected).val() })
                 .text($(selected).text()));
            $('#lstDocTranster :selected').remove();

        });
    }

    function MoveCopySelected() {

        $('#lstDocotors :selected').each(function (i, selected) {
            $('#lstDocCopy')
                 .append($('<option selected="selected" value=' + $(selected).val() + '>')
                 .text($(selected).text()));

        });
    }

    function ReverseCopySelected() {

        $('#lstDocCopy :selected').each(function (i, selected) {

            $('#lstDocCopy :selected').remove();

        });
    }



    $('#btnFetch').click(function () {

        var err = Validate('fetch');
        if (err == "0")
            return false;
        else {

            

            $("#lblError").text("");
            $('#lstDocTranster').empty();
            $('#lstDocTranster').append("<option value=''>Select</option>");
            $('#lstDocCopy').empty();
            $('#lstDocCopy').append("<option value=''>Select</option>");

            $('select').css("border", "1px solid #C0C0C0");
            $("#lblError").text("");
            $('#lstDocotors').empty();
            $('#lstDocotors').append("<option value=''>Select</option>");
            $.getJSON('@Url.Action("JsonLoadChemist")?TerPKID=' + $('#ddlSTerritory').val() + '&DivFKID=' + $('#ddlSDivision').val() + '&AreaFKID=' + $('#lstArea').val(), function (data) {
                for (var i = 0; i < data.count; i++) {
                    $('#lstDocotors').append("<option value='" + data.doctorItems[i].Value + "'>" + data.doctorItems[i].Text + "</option>");
                }
            });
        }
    });


    $('#ddlSDivision').change(function () {
        $('#ddlSTerritory').empty();
        $('#ddlSTerritory').append("<option value=''>Select</option>");
        $('#ddlDDivision').val('');
        $('#ddlDTerritory').empty();
        $('#ddlDTerritory').append("<option value=''>Select</option>");
        $.getJSON('@Url.Action("JsonLoadTerritory")?fkId=' + $('#ddlSDivision').val(), function (data) {
            for (var i = 0; i < data.count; i++) {
                $('#ddlSTerritory').append("<option value='" + data.territoryItems[i].Value + "'>" + data.territoryItems[i].Text + "</option>");
            }
        });
    });


    $('#ddlDDivision').change(function () {
        $('#ddlDTerritory').empty();
        $('#ddlDTerritory').append("<option value=''>Select</option>");
        if (($('#ddlSDivision').val() == $('#ddlDDivision').val()) && $('#ddlSTerritory').val()!="") {

            $.getJSON('@Url.Action("JsonLoadDTerritory")?TerPKID=' + $('#ddlSTerritory').val() + '&DivFKID=' + $('#ddlDDivision').val(), function (data) {
                for (var i = 0; i < data.count; i++) {
                    $('#ddlDTerritory').append("<option value='" + data.territoryItems[i].Value + "'>" + data.territoryItems[i].Text + "</option>");
                }
            });
        }
        else if ($('#ddlSTerritory').val() != "" && $('#ddlSDivision').val() !="") {
            $.getJSON('@Url.Action("JsonLoadTerritory")?fkId=' + $('#ddlDDivision').val(), function (data) {
                for (var i = 0; i < data.count; i++) {
                    $('#ddlDTerritory').append("<option value='" + data.territoryItems[i].Value + "'>" + data.territoryItems[i].Text + "</option>");
                }
            });
        }

    });


    $('#ddlSTerritory').change(function () {

        $('#lstArea').empty();
        $('#lstArea').append("<option value=''>All</option>");
        $.getJSON('@Url.Action("JsonLoadAreaName")?fkId=' + $('#ddlSTerritory').val(), function (data) {
            for (var i = 0; i < data.count; i++) {
                $('#lstArea').append("<option value='" + data.areaItems[i].Value + "'>" + data.areaItems[i].Text + "</option>");
            }
        });
        $('#ddlDTerritory').empty();
        $('#ddlDTerritory').append("<option value=''>Select</option>");
        if ($('#ddlSDivision').val() == $('#ddlDDivision').val()) {

            $.getJSON('@Url.Action("JsonLoadDTerritory")?TerPKID=' + $('#ddlSTerritory').val() + '&DivFKID=' + $('#ddlDDivision').val(), function (data) {
                for (var i = 0; i < data.count; i++) {
                    $('#ddlDTerritory').append("<option value='" + data.territoryItems[i].Value + "'>" + data.territoryItems[i].Text + "</option>");
                }
            });

        }
        else if ($('#ddlDDivision').val() != "" && ($('#ddlSDivision').val() != $('#ddlDDivision').val())) {
            $.getJSON('@Url.Action("JsonLoadDTerritory")?TerPKID=' + '' + '&DivFKID=' + $('#ddlDDivision').val(), function (data) {
                for (var i = 0; i < data.count; i++) {
                    $('#ddlDTerritory').append("<option value='" + data.territoryItems[i].Value + "'>" + data.territoryItems[i].Text + "</option>");
                }
            });

        }
        else {
            $('#ddlDTerritory').empty();
            $('#ddlDTerritory').append("<option value=''>Select</option>");
        }
    });



        </script>

    </body>
