@model Dictionary<int, string>

@if (ViewBag.Type == "NodeType")
{

<select>
    <option value='select'>Select</option>
    @foreach (KeyValuePair<int, string> value in Model)
    {
        <option value='@value.Key.ToString()'>@value.Value</option>
    }
</select>
}

@if (ViewBag.Type == "Division")
{

    <select>
        <option value='select'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}


@if (ViewBag.Type == "User")
{

    <select>
        <option value='select'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}







