@model Dictionary<int, string>

@if (ViewBag.Type == "location")
{

    <select>
        <option value='select'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}

@if (ViewBag.Type == "Team")
{

    <select multiple>
        <option value='select'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}

@if (ViewBag.Type == "Territory")
{

    <select>
        <option value='select'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}


@if (ViewBag.Type == "HQ")
{

    <select>
        <option value='select'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}
@*MUNIPRATHAP*@
    
@if (ViewBag.Type == "Region")
{
    <select>
        <option value='0'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            if (@value.Key == ViewBag.Selected)
            {

                <option value='@value.Key.ToString()' selected="selected">@value.Value</option>
            }
            else
            {
                <option value='@value.Key.ToString()'>@value.Value</option>

            }
        }
    </select>




}




@if (ViewBag.Type == "District")
{

    <select>
        <option value='0'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            if (@value.Key == ViewBag.Selected)
            {

                <option value='@value.Key.ToString()' selected="selected">@value.Value</option>
            }
            else
            {
                <option value='@value.Key.ToString()'>@value.Value</option>

            }
        }
    </select>
}


@if (ViewBag.Type == "NDistrict")
{

    <select id="DistrictCode" onchange="cal(this);">
        <option value='0'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}
@if (ViewBag.Type == "NTerritory")
{

    <select id="Territory">
        <option value='0'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}

@if (ViewBag.Type == "SHDay")
{
    <select>
        @if (ViewBag.Selected != "null")
        {
            <option value='0'>Select</option>
            foreach (KeyValuePair<int, string> value in Model)
            {
                <option value='@value.Key.ToString()' selected="selected">@value.Value</option>
            }

        }
        else
        {
            <option value='0'>Select</option>
        }
    </select>
}




