@{
    ViewBag.Title = "RoleTypeMaster";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<body>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div>
            <table border="0" style="width: 100%">
                <tr>
                    <td>
                        <!--JqGrid Starts-->
                        <table style="margin-top: 7px; width :100%" border="0">
                            <tr>
                                <td>
                                    <table id="ajaxGrid" style="width: 100%" border="0"></table>
                                    <div id="ajaxGridPager">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!--Ends-->
                    </td>
                </tr>
            </table>
            <input type="hidden" id="hdnFkId" name="hdnFkId" value="@ViewBag.FkId" />
        </div>
    }

    <script type="text/javascript">

        function validSpecial(objElement) {

            var re = /^[a-zA-Z0-9-/\s.:]*/gi;
            if (objElement.value.match(re) != objElement.value) {
                alert('No Special Characters Allowed');
                objElement.value = '';

                return false;
            }

        }

        jQuery(document).ready(function () {

            initGrid();
        });
        function initGrid() {
            jQuery("#ajaxGrid").jqGrid({
                url: '@Url.Action("GridData")?fkId=' + jQuery('#hdnFkId').val(),

                datatype: "json",
                jsonReader: { repeatitems: false, id: "PKID" },
                colNames: ['PKID', 'Table Type', 'Code', 'Name', 'Status'],
                colModel: [
                     { name: 'PKID', index: 'PKID', align: 'left', hidden: true, editable: true },
                    {
                        name: 'TableName', index: 'TableName', align: 'left', editable: true, editrules: { edithidden: true, required: false }, editoptions: { defaultValue: '@ViewData["TableName"]', readonly: "readonly" }, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, formoptions: {
                            size: 35,
                            elmprefix: "<span style='align:left;color:red'>*</span>&nbsp;"
                        }, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, search: false
                    },
                     {
                         name: 'GenCode', index: 'GenCode', align: 'left', hidden: true, editable: true, editrules: { edithidden: true }, editrules: { edithidden: true, required: false }, formoptions: {
                             size: 35,
                             elmprefix: "<span style='align:left;color:red'>*</span>&nbsp;"
                         }, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, search: false, editoptions: {
                             size: 35,
                             maxlength: 50,
                             dataEvents: [
                                 {
                                     type: 'keyup', // blur
                                     fn: function (e) {
                                         $('#GenCode').css("border", "1px solid #C0C0C0");
                                         CharacterAndNumber(this);
                                     }
                                 }
                             ]
                         }
                     },
                    {
                        name: 'GenName', index: 'GenName', align: 'left', resizable: false, editable: true, editrules: { edithidden: true, required: false }, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, formoptions: {
                            size: 35,
                            elmprefix: "<span style='align:left;color:red'>*</span>&nbsp;"
                        }, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, search: true, searchrules: { required: true }, editoptions: {
                            size: 35,
                            maxlength: 30,
                            dataEvents: [
                                {
                                    type: 'keyup', // blur
                                    fn: function (e) {
                                        $('#GenName').css("border", "1px solid #C0C0C0");
                                        SingleCharacter(this);
                                    }
                                }
                            ]
                        }
                    },
                    {
                        name: 'IsActive', index: 'IsActive', align: 'left', resizable: false, editable: true, edittype: 'checkbox', searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, formoptions: {
                            elmprefix: "&nbsp;&nbsp;&nbsp;"

                        }, search: false
                    },

                ],

                autowidth: true,
                gridview: true,
                caption: 'RoleTypeMaster',
                jqModal: true,
                align: 'center',
                sortable: true,
                hidegrid: false,
                altRows: true,
                //emptyrecords: 'No URLs have been loaded for evaluation.',
                sortname: 'PKID',
                sortorder: 'desc',
                //loadonce:true,
                rowTotal: 10,
                rowNum: 10,
                gridComplete: function () {

                    if (jQuery("#ajaxGrid").getGridParam("records") == 0) {
                        jQuery("#ajaxGrid").addRowData(
                        "blankRow", { "GenName": "No records to view" });
                    }
                },
                viewrecords: true,
                pager: $('#ajaxGridPager'),
                height: 'auto',
                editable: true,
                editurl: '@Url.Action("Edit")?fkId=' + jQuery('#hdnFkId').val()
            });


            jQuery("#ajaxGrid").jqGrid('navGrid', '#ajaxGridPager', { edit: true, add: true, del: true, view: true, search: true },
                {
                    // Edit Portion
                    closeOnEscape: true,
                    width: 600,
                    recreateForm: true,
                    modal: true,
                    checkOnSubmit: true,
                    afterShowForm: function (form_id) {
                        var thisForm = form_id.selector.replace('FrmGrid_', 'editmod')
                        var dialogHeight = $(thisForm).height();
                        var dialogWidth = $(thisForm).width();
                        var windowHeight = $(window).height();
                        var windowWidth = $(window).width();
                        $(thisForm).css('position', 'fixed');
                        $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                        $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
                    },
                    //GenCode
                    //GenName
                    beforeSubmit: function (response, postdata) {

                        $('select').css("border", "1px solid #C0C0C0");
                        $("input[type=text]").css("border", "1px solid #C0C0C0");

                        var error = " ";

                        if ($("#GenCode").val().charAt(0) == ' ' || $("#GenCode").val().charAt($("#GenCode").val().length - 1) == ' ' || $("#GenCode").val() == "") {
                            $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                            $("#GenCode").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                            $('#GenCode').val('');
                            $('#GenCode').focus();
                            return [false, 'Enter Valid Gen Code'];
                        }

                        else if ($("#GenName").val().charAt(0) == ' ' || $("#GenName").val().charAt($("#GenCode").val().length - 1) == ' ' || $("#GenName").val() == "") {
                            $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                            $("#GenName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                            $('#GenName').val('');
                            $('#GenName').focus();
                            return [false, 'Enter Valid Gen Name'];
                        }



                        else {
                            return [true, response.responseText];
                        }

                    },
                    afterSubmit: function (response, postdata) {

                        $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                        $("#TableName").val('');
                        $("#GenCode").val('');
                        $("#GenName").val('');
                        $("#IsActive").prop('checked', false);
                        return [false, response.responseText];
                    },


                },

            {
                //Add Portion
                closeOnEscape: true,
                closeAfterAdd: true,
                modal: true,
                recreateForm: true,
                width: 450,
                afterShowForm: function (form_id) {
                    var thisForm = form_id.selector.replace('FrmGrid_', 'editmod');
                    var dialogHeight = $(thisForm).height();
                    var dialogWidth = $(thisForm).width();
                    var windowHeight = $(window).height();
                    var windowWidth = $(window).width();
                    $(thisForm).css('position', 'fixed');
                    $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                    $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
                },
                beforeShowForm: function (form) {

                    $('#tr_IsActive', form).hide();
                },
                beforeSubmit: function (response, postdata) {

                    $('select').css("border", "1px solid #C0C0C0");
                    $("input[type=text]").css("border", "1px solid #C0C0C0");

                    var error = " ";

                    if ($("#GenCode").val().charAt(0) == ' ' || $("#GenCode").val().charAt($("#GenCode").val().length - 1) == ' ' || $("#GenCode").val() == "") {
                        $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                        $("#GenCode").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                        $('#GenCode').val('');
                        $('#GenCode').focus();
                        return [false, 'Enter Valid Gen Code'];
                    }

                    else if ($("#GenName").val().charAt(0) == ' ' || $("#GenName").val().charAt($("#GenCode").val().length - 1) == ' ' || $("#GenName").val() == "") {
                        $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                        $("#GenName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                        $('#GenName').val('');
                        $('#GenName').focus();
                        return [false, 'Enter Valid Gen Name'];
                    }

                    else {
                        return [true, response.responseText];
                    }

                },

                afterSubmit: function (response, postdata) {
                    $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    var errorId = " ";
                    if (response.responseText == "\"RoleTypeMaster added successfully.\"") {
                        errorId += "RoleTypeMaster added successfully.";
                        $('#FormError').html("<td class='ui-state-error' colspan='2'>" + errorId + "</td>");
                        $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                       // $("#TableName").val('');
                        $("#GenCode").val('');
                        $("#GenName").val('');
                        $("#IsActive").prop('checked', false);
                        return [false, response.responseText];
                    }
                    else {
                        errorId += "RoleTypeMaster already Exists";
                        $('#FormError').html("<td class='ui-state-error' colspan='2'>" + errorId + "</td>");
                        $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-highlight').addClass('ui-state-error');
                        //$("#TableName").val('');
                        $("#GenCode").val('');
                        $("#GenName").val('');
                        $("#IsActive").prop('checked', false);
                        return [false, response.responseText];

                    }

                },

                onclickSubmit: function (params, posdata) {
                    params.url = '@Url.Action("AddRoleTypeMaster")?TableName=' + $('#TableName').val() + '&GenCode=' + $('#GenCode').val() + '&GenName=' + $('#GenName').val() + '&IsActive=' + $('#IsActive').val();
                },
            },
                {
                    //Delete
                    closeOnEscape: true,
                    modal: true,
                    recreateForm: true,
                    width: 450,
                    beforeShowForm: function (form)
                    {
                        //POP UP Screen Fit Screen
                        var thisForm = $("#delmod" + jQuery("#ajaxGrid")[0].id);
                        var dialogHeight = $(thisForm).height();
                        var dialogWidth = $(thisForm).width();
                        var windowHeight = $(window).height();
                        var windowWidth = $(window).width();
                        $(thisForm).css('position', 'fixed');
                        $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                        $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
                        
                        $('tr td.delmsg').html('Delete selected record(s)?');

                        var col1 = $('#ajaxGrid').jqGrid('getGridParam', 'selrow');
                        var IsActive = $('#ajaxGrid').jqGrid('getCell', col1, 'IsActive');

                        if (IsActive == "Inactive")
                        {
                            $('tr td.delmsg').html('Record Already Deleted');
                            $('#dData').hide();
                        }
                        else {
                            $('#dData').show();
                        }

                       },

                    afterSubmit: function (response, postdata) {
                        $('tr td.delmsg').html('');
                        $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        $('#DelTbl_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                        $('#dData').hide();
                        return [false, response.responseText];
                    },

                    
                },
            {
                //search
                closeOnEscape: true,
                modal: true,
                recreateForm: true,
                width: 552,
                caption: "Search",
                searchOnEnter: true,
                beforeShowSearch: function (form) {

                    $('#jqg1').val('');
                    $('#fbox_ajaxGrid_reset').click();

                    var dialogHeight = $("#searchmodfbox_ajaxGrid").height();
                    var dialogWidth = $("#searchmodfbox_ajaxGrid").width();
                    var windowHeight = $(window).height();
                    var windowWidth = $(window).width();
                    $("#searchmodfbox_ajaxGrid").css('position', 'fixed');
                    $("#searchmodfbox_ajaxGrid").css('top', ((windowHeight - dialogHeight) / 2));
                    $("#searchmodfbox_ajaxGrid").css('left', ((windowWidth - dialogWidth) / 2));

                    return [true, ""];
                },
            },
            {
                //View :
                closeOnEscape: true,
                modal: true,
                recreateForm: true,
                width: 600,

                beforeShowForm: function (form) {

                    var thisForm = $("#viewmod" + jQuery("#ajaxGrid")[0].id);
                    var dialogHeight = $(thisForm).height();
                    var dialogWidth = $(thisForm).width();
                    var windowHeight = $(window).height();
                    var windowWidth = $(window).width();
                    $(thisForm).css('position', 'fixed');
                    $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                    $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
                }

            }


                    );

            // setMethod('gridId', 'gridPager', 'pageTitle');
            setMethod('ajaxGrid', 'ajaxGridPager', 'Customer Grid');

        }

        function setMethod(gid, id, pgTitle) {
            // alert(1);
            var btnTitle = 'Export to Excel';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-calculator', onClickButton: function () { ExcelExport(); } });

            var btnTitle = 'Export to PDF';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-bookmark', onClickButton: function () { PDFExport(); } });

            var btnTitle = 'Export to CSV';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-note', onClickButton: function () { CSVExport(); } });


            var btnTitle = 'Print Grid';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-print', onClickButton: function () { PrintGrid(gid); } });
        }
        function ExcelExport() {
            window.location = '@Url.Action("ExportRoleTypeMasterToExcel")';
        }
        function PDFExport() {
            window.location = '@Url.Action("ExportRoleTypeMasterToPDF")';
        }
        function CSVExport() {
            window.location = '@Url.Action("ExportRoleTypeMasterToCsv")';
        }
        function PrintGrid(gid) {

            // empty the print div container.
            var rows = $('#ajaxGrid').jqGrid('getRowData');
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                $('#Table1').append("<tr><td>" + row.TableName + "</td><td>" + row.GenName + "</td><td>" + row.IsActive + "</td></tr>");

            }
            $(function () { printChrome('prt-container') });

        }

        function printChrome(divContainer) {

            var printContent = document.getElementById(divContainer);
            window.document.body.innerHTML = printContent.innerHTML;
            window.print();
            window.location.reload();
        }


    </script>
    <div id='prt-container' style="display:none">
        <table id="Table1" border="1" width="100%">
            <thead>
                <tr>
                    <td><b>Table Type</b></td>
                    <td><b>Name</b></td>
                    <td><b>Status</b></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>



</body>
