@model Dictionary<int, string>


@if (ViewBag.Type == "Division")
{
    <select style="width:150px !important;">

        <option value='0'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}

@if (ViewBag.Type == "SelectedDivision")
{
    <select>

        <option value='0'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()' selected="selected">@value.Value</option>
        }
    </select>
}


@if (ViewBag.Type == "User")
{
    <select>

        <option value='0'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}

@if (ViewBag.Type == "SelectedUser")
{
    <select>

        <option value='0'>Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
{
    <option value='@value.Key.ToString()' selected="selected">@value.Value</option>
}
    </select>
}