@{
    ViewBag.Title = "CFSAPSOReport";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<body>
    @using (Html.BeginForm(FormMethod.Post))
    {

        <div class="inner_tbldiv" style="margin-top:0px">
            <div class="man_field">* Mandatory Field</div><label id="lblError" name="lblError" style=" color:red"> </label>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="left" class="inner_tb">
                <tr>
                    <th colspan="7">CFSA PSO Report</th>
                </tr>

                <tr>
                    <td width="10%" class="tb-r2">PSO Name<span class="star">*</span></td>
                    <td width="20%" class="tb-r2">
                        @*@Html.ListBox("lstGetPSOName", PfizerEntity.UsefulLink.GetlstGetPSONameListForCFSA(Convert.ToDecimal(Session["USER_FKID"] == null ? "0" : Session["USER_FKID"].ToString())), "Select")*@
                        @Html.ListBox("lstGetPSOName", new[] { new SelectListItem { Text = "", Value = "" } }, new { @class = "listboxRpt" })


                    </td>
                    <td class="tb-r2" width="10%">From Date<span class="star">*</span></td>
                    <td class="tb-r2" width="25%">
                        <input type="text" id="txtFrmdate" class="tboxlargedate" value="" onclick="$(function () { $('#txtFrmdate').datepicker(); });" />

                    </td>
                    <td class="tb-r2" width="10%">End Date<span class="star">*</span></td>
                    <td class="tb-r2" width="25%">
                        <input type="text" id="txttodate" class="tboxlargedate" value="" onclick="$(function () { $('#txttodate').datepicker(); });" />

                    </td>
                    <td width="15%"><input class="blue_button add_btn" type="button" width="5%" id="btnFetch" value="Go"></td>
                </tr>

            </table>
        </div>

        <div>
            <table>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
            </table>

        </div>
        <div>
            <table border="0" style="width: 100%">
                <tr>
                    <td>
                        <!--JqGrid Starts-->
                        <table style="margin-top: 7px; width :100%" border="0">
                            <tr><td align="center"><span style="font-weight:bold"><label id="lblmsg" style="color:black" /></span></td></tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td>
                                    <table id="CFSAPSOReport" style="width: 100%" border="0"></table>
                                    <div id="CFSAPSOReportPager">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!--Ends-->
                        <input type="hidden" id="hdnPager" name="hdnPager" />

                    </td>
                </tr>
            </table>

        </div>
    }

    <script type="text/javascript">

        $('#btnFetch').click(function () {
            if ($('#lstGetPSOName').val() == '0') {
                $('[id$=lblError]').text("Please Select PSO Name");
                $("#lstGetPSOName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#lstGetPSOName').focus();
                return false;
            }
            else {
                $("#lstGetPSOName").css("background-color", "#FFE8E8").css("border", "1px solid #d5d5d5");
                lblError.textContent = "";
            }

            if ($('#txtFrmdate').val() == '') {
                $('[id$=lblError]').text("Please Select From date");
                $("#txtFrmdate").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#txtFrmdate').focus();
                return false;
            }
            else {
                $("#txtFrmdate").css("background-color", "#FFE8E8").css("border", "1px solid #d5d5d5");
                lblError.textContent = "";
            }
            if ($('#txttodate').val() == '') {
                $('[id$=lblError]').text("Please Select To Date");
                $("#txttodate").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#txttodate').focus();
                return false;
            }
            else {

                $("#txttodate").css("background-color", "#FFE8E8").css("border", "1px solid #d5d5d5");
                lblError.textContent = "";
            }

            if ($('#txtFrmdate').val() != '' && $('#txtTodate').val() != '') {


                var date1 = $('#txtFrmdate').val().split('/')[1] + '/' + $('#txtFrmdate').val().split('/')[0] + '/' + $('#txtFrmdate').val().split('/')[2];
                var date2 = $('#txttodate').val().split('/')[1] + '/' + $('#txttodate').val().split('/')[0] + '/' + $('#txttodate').val().split('/')[2];
                var startDate = new Date(date1);
                var endDate = new Date(date2);

                if (startDate > endDate) {
                    $("#lblError").text('End date should be greater than Start date');
                    $('#txttodate').focus();
                    $("#txttodate").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                    return false;
                }
            }


            lblmsg.textContent = "CFSA PSO Report as on " + $('#txttodate').val() + " ( " + $('#txtFrmdate').val() + " To " + $('#txttodate').val() + ")";
            initGrid();

        });

        function initGrid() {
            $('#CFSAPSOReport').jqGrid('GridUnload');
            jQuery("#CFSAPSOReport").jqGrid({
                url: '@Url.Action("GetCFSAPSOReport")?PKID=' + $('#lstGetPSOName').val() + '&FDATE=' + $('#txtFrmdate').val() + '&TODATE=' + $('#txttodate').val(),
                datatype: "json",
                jsonReader: { repeatitems: false, id: "PKID" },
                colNames: ['PKID', 'PSO Name', 'Date', 'DoctorName', 'Dr Response', 'PSO Response', 'Strategic', 'Tailored', 'Evaluation'],
                colModel: [
                    { name: 'PKID', index: 'PKID', align: 'left', hidden: true, editable: false },
                     { name: 'PSOName', index: 'PSOName', align: 'left', hidden: false, editable: false },
                     { name: 'Date', index: 'Date', align: 'left', hidden: false, editable: false },
                     { name: 'DoctorName', index: 'DoctorName', align: 'left', hidden: false, editable: false },
                     { name: 'DrResponse', index: 'DrResponse', align: 'left', hidden: false, editable: false },
                     { name: 'PSOResponse', index: 'PSOResponse', align: 'left', hidden: false, editable: false },
                     { name: 'Strategic', index: 'Strategic', align: 'left', hidden: false, editable: false },
                     { name: 'Tailored', index: 'Tailored', align: 'left', hidden: false, editable: false },
                     { name: 'Evaluation', index: 'Evaluation', align: 'left', hidden: false, editable: false },
                ],

                autowidth: true,
                gridview: true,
                caption: 'CFSA PSO Report',
                jqModal: true,
                rowTotal: 10,
                rowNum: 10,
                align: 'center',
                sortable: true,
                hidegrid: true,
                altRows: true,
                sortname: 'PKID',
                sortorder: 'desc',
                viewrecords: true,
                pager: $('#CFSAPSOReportPager'),
                height: 'auto',
                editable: true,
                gridComplete: function () {

                    if (jQuery("#CFSAPSOReport").getGridParam("records") == 0) {

                        jQuery("#CFSAPSOReport").addRowData(

                        "blankRow", { "PSOName": "No records to view" });
                    }
                },


            });

            jQuery("#CFSAPSOReport").jqGrid('navGrid', '#CFSAPSOReportPager', { edit: false, add: false, del: false, search: false, view: false });


            setMethod('CFSAPSOReport', 'CFSAPSOReportPager', 'CFSAPSO Report');

        }
        function setMethod(gid, id, pgTitle) {

            var btnTitle = 'Export to Excel';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-calculator', onClickButton: function () { ExcelExport(); } });

            var btnTitle = 'Export to PDF';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-bookmark', onClickButton: function () { PDFExport(); } });

            var btnTitle = 'Export to CSV';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-note', onClickButton: function () { CSVExport(); } });


            var btnTitle = 'Print Grid';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-print', onClickButton: function () { PrintGrid(gid); } });
        }
        function ExcelExport() {
            window.location = '@Url.Action("ExportCFSAPSOReportToExcel")?PKID=' + $('#lstGetPSOName').val() + '&FDATE=' + $('#txtFrmdate').val() + '&TODATE=' + $('#txttodate').val();
        }
        function PDFExport() {
            window.location = '@Url.Action("ExportCFSAPSOReportToPDF")?PKID=' + $('#lstGetPSOName').val() + '&FDATE=' + $('#txtFrmdate').val() + '&TODATE=' + $('#txttodate').val();
        }
        function CSVExport() {
            window.location = '@Url.Action("ExportCFSAPSOReportToCsv")?PKID=' + $('#lstGetPSOName').val() + '&FDATE=' + $('#txtFrmdate').val() + '&TODATE=' + $('#txttodate').val();
        }
        function PrintGrid(gid) {
            // empty the print div container.
            var rows = $('#CFSAPSOReport').jqGrid('getRowData');
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                $('#Table1').append("<tr><td>" + row.PSOName + "</td><td>" + row.Date + "</td><td>" + row.DoctorName + "</td><td>" + row.DrResponse + "</td><td>" + row.PSOResponse + "</td><td>" + row.Strategic + "</td><td>" + row.Tailored + "</td><td>" + row.Evaluation + "</td></tr>");

            }
            $(function () { printChrome('prt-container') });

        }

        function printChrome(divContainer) {

            var printContent = document.getElementById(divContainer);
            window.document.body.innerHTML = printContent.innerHTML;
            window.print();
            window.location.reload();
        }
        $(document).ready(function () {            
            $('#lstGetPSOName').empty();
            

            $.getJSON('@Url.Action("JsonLoadPsoNamesForCFSA")', function (data) {
                $('#lstGetPSOName').append("<option selected='selected' value='0'>Select</option>");
                for (var i = 0; i < data.countyCount; i++) {
                    $('#lstGetPSOName').append("<option value='" + data.countyItems[i].Value + "'>" + data.countyItems[i].Text + "</option>");
                }
            });
                               

                @*$.getJSON('@Url.Action("JsonLoadPsoNamesForCFSA")', function (data) {

                    for (var i = 0; i < data.countyCount; i++) {

                        if (data.countyItems[i].Value == '@Session["NodeType_FKID"]') {
                        $('#lstGetPSOName').append("<option selected='selected' value='" + data.countyItems[i].Value + "'>" + data.countyItems[i].Text + "</option>");
                        }
                        else {
                            $('#lstGetPSOName').append("<option value='" + data.countyItems[i].Value + "'>" + data.countyItems[i].Text + "</option>");
                        }
                        alert('@Session["NodeType_FKID"]');
                    }
                });*@


            $("#txtFrmdate").val($.datepicker.formatDate("dd/mm/yy", new Date()));
            $("#txttodate").val($.datepicker.formatDate("dd/mm/yy", new Date()));

            $("#txtFrmdate").datepicker({ changeMonth: true, changeYear: true, yearRange: '1900:myDate', dateFormat: 'dd/mm/yy', maxDate: 0 });
            $("#txttodate").datepicker({ changeMonth: true, changeYear: true, yearRange: '1900:myDate', dateFormat: 'dd/mm/yy', maxDate: 0 });


        });

    </script>
    <div id='prt-container' style="display:none">
        <table id="Table1" border="1" width="100%">
            <thead>
                <tr>
                    <td><b>PSO Name</b></td>
                    <td><b>Date</b></td>
                    <td><b>DoctorName</b></td>
                    <td><b>Dr Response</b></td>
                    <td><b>PSO Response</b></td>
                    <td><b>Strategic</b></td>
                    <td><b>Tailored</b></td>
                    <td><b>Evaluation</b></td>
                </tr>

            </thead>
            <tbody></tbody>

        </table>
    </div>
</body>
