@{
    ViewBag.Title = "SampleStatusReportForRBM";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<h2>SampleStatusReportForRBM</h2>
<body>

    @using (Html.BeginForm(FormMethod.Post))
{
    <div>
        <table width="100%" border="0" cellspacing="0" class="inner_tb" cellpadding="0" align="left">
            <tr>
                <th colspan="8" style="margin-top: 10px; background-color: #00AADA; color: white;height:20px;">FilterOn</th>
            </tr>
            <tr>
                <td width="30%" valign="middle" class="tb-r2">
                    <table border="0" width="100%">
                        <tbody>
                            <tr>

                                <td class="tb-r2">Year<span style="color:red">*</span></td>
                                <td class="tb-r2">
                                    &nbsp;&nbsp;&nbsp;
                                    @Html.DropDownList("drpSelectYear", new[]{

                                            new SelectListItem { Text="Select", Value=""} })

                                </td>
                                <td class="tb-r2">Month<span style="color:red">*</span></td>
                                <td class="tb-r2">
                                    &nbsp;&nbsp;&nbsp;
                                    @Html.DropDownList("drpSelectMonth", new[]{

                                            new SelectListItem { Text="Select", Value=""} })

                                </td>
                                <td class="tb-r2">

                                    <input type="radio" id="rdbSummery" name="rdbPSO" value="S" checked="checked" />Show Summery<br />
                                    <input type="radio" id="rdbDM" name="rdbPSO" value="D" />Show DM Wise Summery<br />
                                    <input type="radio" id="rdbPSO" name="rdbPSO" value="D" />Show PSO Wise Details<br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" class="inner_tb" width="100%">

                        <tr>
                            <td valign="middle" align="left" id="tdDMTitle" class="tb-r1">
                                &nbsp;&nbsp;Products<span style="color:red">*</span>
                            </td>
                            <td class="tb-r2">
                                &nbsp;&nbsp;&nbsp;
                                @Html.ListBox("lstProductsName", new[]{

                                            new SelectListItem { Text="", Value=""} }, new { @class = "listboxnew", @size = "5" })

                            </td>
                            <td colspan="2" class="tb-r1" width="310px">

                                <table class="inner_tb" id="tblDM">
                                    <tr>
                                        <td valign="middle" align="left" id="tdDMTitle" class="tb-r1">
                                            &nbsp;&nbsp;DM's<span style="color:red">*</span>
                                        </td>
                                        <td class="tb-r2" id="tdDMData">

                                            &nbsp;&nbsp;
                                            @Html.ListBox("lstDMName", new[]{

                                                    new SelectListItem { Text="All", Value=""} }, new { @class = "listboxnew", @size = "5" })

                                            &nbsp;

                                        </td>
                                    </tr>
                                </table>

                            </td>


                            <td colspan="2" class="tb-r1" width="310px">

                                <table class="inner_tb" id="tblPSO">
                                    <tr>
                                        <td class="tb-r1">
                                            <input class="blue_button add_btn" type="button" id="btnPSO" onclick="LoadPSO();" value="LoadPso">

                                        </td>
                                        <td valign="middle" align="left" id="tdPSOTitle" class="tb-r1">
                                            &nbsp;&nbsp;PSO's<span style="color:red">*</span>
                                        </td>
                                        <td class="tb-r2" id="tdDMData">

                                            &nbsp;&nbsp;
                                            @Html.ListBox("lstPSOName", new[]{

                                                    new SelectListItem { Text="", Value=""} }, new { @class = "listboxnew", @size = "5" })

                                            &nbsp;

                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td class="tb-r2">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="blue_button add_btn" type="button" width="5%" id="btnGO" value="GO"><br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="blue_button add_btn" type="button" width="5%" id="btnReset" value="Reset">

                            </td>

                        </tr>

                    </table>
                    

</div>
        <div id="testDiv">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <table id="tabStatus" style="margin-top: 30px; width :100%" border="0">

                <tr>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="DivReport"></div>
       <div id="DivReportForPSOs"></div>
     <div id="DivReportForPSODis"></div>
        <div id="DivReportForPSO"></div>
}
</body>

<script type="text/javascript">

    function LoadYear() {
        var today = new Date(); // Initialize Date in raw form
        var Currentyear = today.getFullYear(); // Get the year
        var CurrentDate = today.getDate();
        //Year binding into year ComboBox
        var cPreviousYear = today.getFullYear() - 5;

        var cNextYear = today.getFullYear() + 3;
        var iSelected = 0;
        for (var iCount = cPreviousYear; iCount < cNextYear; iCount++) {

            document.getElementById("drpSelectYear").options.add(new Option(iCount, "0"))
            if (document.getElementById("drpSelectYear").options[iSelected].innerText == Currentyear) {
                document.getElementById("drpSelectYear").selectedIndex = iSelected;
            }
            iSelected++;
        }
    }

    function LoadMonth() {
        var today = new Date(); // Initialize Date in raw form
        var currentMonth = today.getMonth() + 1; // Get the month

        var months = ["", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var option = '';
        for (var i = 0; i < months.length; i++) {
            if (i == 0)
                continue;
            if (currentMonth != i) {
                option += '<option value="' + i + '">' + months[i] + '</option>';
                continue;
            }
            option += '<option value="' + i + '" selected="selected">' + months[i] + '</option>';
        }
        $('#drpSelectMonth').append(option);
    }
    function showReport(SampleFKID, PsoId, TerriTory) {
      
        var Year = $("#drpSelectYear").val();
        var Month = $("#drpSelectMonth").val();
        var productsFKID = "";
        $('#lstProductsName :selected').each(function (i, selected) {

            if ($(selected).val() != "0") {
                if ($(this).not('selected')) {

                    productsFKID += +$(this).val() + ",";
                }


            }
        });

        $.getJSON('@Url.Action("JsontestForHPSO")?SampleFKID=' + SampleFKID + '&PsoId=' + PsoId + '&TerriTory=' + TerriTory, '&Month=' + Month + '&Year=' + Year + '&Products=' + productsFKID,
          function (data) {

              $('#DivReportForPSO').dialog({
                  height: 350,
                  width: 780,
                  title: 'Received Details',
                  show: { effect: 'drop', direction: "up" },
                  modal: true,
                  open: function (event, ui) {
                      
                      $('#DivReportForPSO').html(data.rslt);
                  },

              });

          });
    }
    function showReportDisbursed(SampleFKID, PsoId, TerriTory) {
       
        var Year = $("#drpSelectYear").val();
        var Month = $("#drpSelectMonth").val();
        var productsFKID = "";
        $('#lstProductsName :selected').each(function (i, selected) {

            if ($(selected).val() != "0") {
                if ($(this).not('selected')) {

                    productsFKID += +$(this).val() + ",";
                }


            }
        });

        $.getJSON('@Url.Action("JsontestForHPSODis")?SampleFKID=' + SampleFKID + '&PsoId=' + PsoId + '&TerriTory=' + TerriTory, '&Month=' + Month + '&Year=' + Year + '&Products=' + productsFKID,
          function (data) {

              $('#DivReportForPSODis').dialog({
                  height: 310,
                  width: 680,
                  title: 'DisbursedDetails',
                  show: { effect: 'drop', direction: "up" },
                  modal: true,
                  open: function (event, ui) {
                     
                      $('#DivReportForPSODis').html(data.rslt);
                  },

              });

          });
    }
    function DownloadExcel() {
        var win = window.open('@Url.Action("ExcelDownload")?fileName=' + 'SampleStatusReportForRBM', 'showwin', 'width=550,height=400,top=0,left=0,toolbar=yes,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizeable=yes');

        return false;
    }
    function LoadPSO()
    {
        var DMName = "";
        $('#lstDMName :selected').each(function (i, selected) {

            if ($(selected).val() != "0") {
                if ($(this).not('selected')) {

                    DMName += +$(this).val() + ",";
                }


            }
        });
    
        $.getJSON('@Url.Action("JsonLoadlstPSOByDM")?DMName='+DMName, function (data) {
            $('#lstPSOName').empty();
            $('#lstPSOName').append("<option value='0'>SelectAll</option>")
            for (var i = 0; i < data.countyCount; i++) {

                $('#lstPSOName').append("<option  value='" + data.countyItems[i].Value.split("-")[0] + "'>" + data.countyItems[i].Text + "</option>");
            }

        });
    }

    $(":radio").change(function () {


        if ($('#rdbSummery').prop('checked') == true) {
            $("#tblDM").hide();
            $("#tblPSO").hide();
        }
        else if ($('#rdbDM').prop('checked') == true) {
            $("#tblDM").show();
            $("#tblPSO").hide();
        }
        else {
            $("#tblDM").show();
            $("#tblPSO").show();
        }
    });
    $("#btnReset").click(function () {
        
        
        $('input:radio[name=rdbPSO]')[0].checked = true;
        $("#drpSelectYear").val('');
        $("#drpSelectMonth").val('');
        $('#lstProductsName').val(0);
        $('#lstPSOName').val(0);
        $('#lstDMName').val(0);
    });
    $('#lstProductsName').change(function () {

        if ($('#lstProductsName').val() == 0) {
            $("#lstProductsName option").prop("selected", true);
            $("#lstProductsName option:first").removeAttr('selected');

        }
    });
    $('#lstPSOName').change(function () {

        if ($('#lstPSOName').val() == 0) {
            $("#lstPSOName option").prop("selected", true);
            $("#lstPSOName option:first").removeAttr('selected');

        }
    });
    $('#lstDMName').change(function () {

        if ($('#lstDMName').val() == 0) {
            $("#lstDMName option").prop("selected", true);
            $("#lstDMName option:first").removeAttr('selected');

        }
    });

    $(document).ready(function () {
        $("#tblDM").hide();
        $("#tblPSO").hide();
        $('#lstProductsName').empty();
        $('#lstPSOName').empty();
        $("#lstDMName").empty();
        $.getJSON('@Url.Action("JsonLoadlstProducts")', function (data) {
            $('#lstProductsName').append("<option value='0'>SelectAll</option>")
            for (var i = 0; i < data.countyCount; i++) {

                $('#lstProductsName').append("<option  value='" + data.countyItems[i].Value.split("-")[0] + "'>" + data.countyItems[i].Text + "</option>");
            }

        });
        $.getJSON('@Url.Action("JsonLoadlstDMS")', function (data) {
            $('#lstDMName').append("<option value='0'>SelectAll</option>")
            for (var i = 0; i < data.countyCount; i++) {

                $('#lstDMName').append("<option  value='" + data.countyItems[i].Value.split("-")[0] + "'>" + data.countyItems[i].Text + "</option>");
            }

        });
        $.getJSON('@Url.Action("JsonLoadlstPSO")', function (data) {
            $('#lstPSOName').append("<option value='0'>SelectAll</option>")
            for (var i = 0; i < data.countyCount; i++) {

                $('#lstPSOName').append("<option  value='" + data.countyItems[i].Value.split("-")[0] + "'>" + data.countyItems[i].Text + "</option>");
            }

        });
        LoadYear();
        LoadMonth();
        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("LoadSelectPSOYear")',
            success: function (data) {

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("LoadSelectPSOMonth")',
                    success: function (data1) {
                        $('#drpSelectYear').html(data);
                        $('#drpSelectMonth').html(data1);
                    }
                });
            }
        });*@
    });
    $("#btnGO").click(function () {
       
        $("#drpSelectYear").css("border", "1px solid #d5d5d5").css("background-color", "white");
        $("#drpSelectMonth").css("border", "1px solid #d5d5d5").css("background-color", "white");
        $("#lstPSOName").css("border", "1px solid #d5d5d5").css("background-color", "white");
        $("#lstDMName").css("border", "1px solid #d5d5d5").css("background-color", "white");
        $("#lstProductsName").css("border", "1px solid #d5d5d5").css("background-color", "white");
       
        if ($('#drpSelectYear').val() == '') {

            $("#drpSelectYear").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
            $('#drpSelectYear').focus();
            return false;
        }
        else if ($('#drpSelectMonth').val() == '') {

            $("#drpSelectMonth").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
            $('#drpSelectMonth').focus();
            return false;
        }
        else if ($('#lstProductsName').val() == 0 || $('#lstProductsName').val() == null) {
            $("#lstProductsName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
            $('#lstProductsName').focus();
            return false;
        }
        
        if ($('#rdbDM').prop('checked') == true && ($('#lstDMName').val() == 0 || $('#lstDMName').val() == null)) {
           
            $("#lstDMName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
            $('#lstDMName').focus();
            return false;

        }
        if ($('#rdbPSO').prop('checked') == true && (($('#lstPSOName').val() == 0 || $('#lstPSOName').val() == null) || ($('#lstDMName').val() == 0 || $('#lstDMName').val() == null))) {
            if (($('#lstPSOName').val() == 0 || $('#lstPSOName').val() == null)) {
                $("#lstPSOName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#lstPSOName').focus();

                return false;
            }
            else {
                $("#lstDMName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#lstDMName').focus();

                return false;
            }
        }
        var productsFKID = "";
        $('#lstProductsName :selected').each(function (i, selected) {

            if ($(selected).val() != "0") {
                if ($(this).not('selected')) {

                    productsFKID += +$(this).val() + ",";
                }


            }
        });
        var DMName = "";
        $('#lstDMName :selected').each(function (i, selected) {

            if ($(selected).val() != "0") {
                if ($(this).not('selected')) {

                    DMName += +$(this).val() + ",";
                }


            }
        });
        var PSOName = "";
        $('#lstPSOName :selected').each(function (i, selected) {

            if ($(selected).val() != "0") {
                if ($(this).not('selected')) {

                    PSOName += +$(this).val() + ",";
                }


            }
        });
        var Year = $("#drpSelectYear").val();
        var Month = $("#drpSelectMonth").val();
        if ($('input:radio[name=rdbPSO]')[0].checked == true) {
            
            $.getJSON('@Url.Action("JsontestForSRBMS")?Products=' + productsFKID + '&Year=' + Year + '&Month=' + Month,
                  function (data) {
                      
                      $('#DivReport').dialog({
                          height: 310,
                          width: 610,
                          title: 'Received Details',
                          show: { effect: 'drop', direction: "up" },
                          modal: true,
                          open: function (event, ui) {
                              $('#DivReport').html(data.rslt);
                          },

                      });
                  });
        }
        if ($('input:radio[name=rdbPSO]')[1].checked == true) {
            
            $.getJSON('@Url.Action("JsontestForSRBMS")?Products=' + productsFKID + '&Year=' + Year + '&Month=' + Month, '&DMName=' + DMName,
                 function (data) {

                     $('#DivReport').dialog({
                         height: 290,
                         width: 610,
                         title: 'Received Details',
                         show: { effect: 'drop', direction: "up" },
                         modal: true,
                         open: function (event, ui) {
                             $('#DivReport').html(data.rslt);
                         },

                     });
                 });



        }
        if ($('input:radio[name=rdbPSO]')[2].checked == true) {
           
            $.getJSON('@Url.Action("JsontestForSRBMS")?Products=' + productsFKID + '&Year=' + Year + '&Month=' + Month + '&DMName=' + DMName + '&PSOName=' + PSOName,
                 function (data) {
                     $('#DivReportForPSOs').html(data.rslt);
                     
                 });



        }

    });
    </script>