@{
    ViewBag.Title = "LockUserDetails";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@using (Html.BeginForm(FormMethod.Post))
{
    <div>
        <table border="0" style="width: 100%">
            <tr>
                <td>
                    <!--JqGrid Starts-->
                    <table style="margin-top: 7px; width :100%" border="0">
                        <tr>
                            <td>
                                <table id="ajaxGrid" style="width: 100%" border="0"></table>
                                <div id="ajaxGridPager">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td align="center" style="padding-top:20px;">
                                <table>
                                    <tr>
                                        <td style="padding-right:10px;">
                                            <input type="button" class="blue_button" id="bntSubmit" title="Submit" value="Submit" />
                                        </td>
                                        <td>
                                            <input type="button" class="orange_button" id="bntCancel" title="Submit" value="Cancel" />
                                        </td>
                                    </tr>
                                </table>

                            </td>

                        </tr>
                    </table>
                    <!--Ends-->
                </td>
            </tr>
        </table>
    </div>


    <script type="text/javascript">

        $("#bntSubmit").click(function () {

            var ids = jQuery("#ajaxGrid").jqGrid('getDataIDs');

            var col0 = "";
            for (var i = 0; i < ids.length; i++) {

                if (jQuery('#ajaxGrid').jqGrid('getCell', ids[i], 1)) {

                    if (jQuery('#ajaxGrid').jqGrid('getCell', ids[i], 1) == 1) {

                        col0 = col0 + jQuery('#ajaxGrid').jqGrid('getCell', ids[i], 0) + ",";
                    }
                }
            }
            window.location = ('@Url.Action("SubmitFormUnlockUser")?pkid=' + col0);
        });


        $("#bntCancel").click(function () {

            var ids = jQuery("#ajaxGrid").jqGrid('getDataIDs');
            var col0 = "";
            for (var i = 0; i < ids.length; i++) {

                if (jQuery('#ajaxGrid').jqGrid('getCell', ids[i], 1)) {

                    if (jQuery('#ajaxGrid').jqGrid('getCell', ids[i], 1) == 1) {

                        $('#' + ids[i] + ' input[type=checkbox]').prop('checked', false)
                    }
                }
            }

        });


        jQuery(document).ready(function () {
            initGrid();
        });

        function initGrid() {
            var test = "";
            jQuery("#ajaxGrid").jqGrid({
                url: '@Url.Action("GridDataLockUserDetails")',

                datatype: "json",
                jsonReader: { repeatitems: false, id: "PKID" },
                colNames: ['PKID', '', 'EmployeeName', 'LockedDate'],
                colModel: [
                     { name: 'PKID', index: 'PKID', align: 'left', hidden: true, editable: true },
                       //below column will contains checkbox.....
                     {
                         name: 'enbl', index: 'enbl', width: 10, align: 'center',
                         formatter: 'checkbox', editoptions: { value: '1:0' }, multiselect: true,
                         formatoptions: { disabled: false },
                     },
                     { name: 'EmployeeName', index: 'EmployeeName', align: 'left', editable: true, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, searchrules: { required: true } },
                     { name: 'LockedDate', index: 'LockedDate', align: 'left', resizable: false, search: false }

                ],
                autowidth: true,
                gridview: true,
                caption: 'LockUserDetails',

                align: 'center',
                sortable: true,
                hidegrid: false,
                altRows: true,
                sortname: 'PKID',
                sortorder: 'desc',
                rowTotal: 10,
                rowNum: 6,
                viewrecords: true,
                pager: $('#ajaxGridPager'),
                height: 'auto',
                editable: true,
                editurl: '@Url.Action("EditLockUserDetails")',
                //onSelectRow: function (id) {
                //    var rowData = $(this).getRowData(id);
                //    // if(id!==lastSel){
                //    $(this).find('.ui-state-highlight').css({ background: '#000' });
                //    lastSel = id;
                //    //}
                //},

                //onSelectRow: function(id,status){
                //    var rowData = jQuery(this).getRowData(id);
                //    configid = rowData['PKID'];
                //    configname=rowData['EmployeeName'];

                //    // Add this
                //    var ch =  jQuery(this).find('#'+id+' input[type=checkbox]').prop('checked');
                //    if(ch) {
                //        jQuery(this).find('#'+id+' input[type=checkbox]').prop('checked',false);
                //    } else {
                //        jQuery(this).find('#'+id+' input[type=checkbox]').prop('checked',true);
                //    }
                //    // end Add
                //    rowChecked=1;
                //    currentrow=id;
                //}


            });

            jQuery("#ajaxGrid").jqGrid('navGrid', '#ajaxGridPager', { edit: false, add: false, del: false, search: false },
                {
                    // Edit Portion
                    closeOnEscape: true,
                    recreateform: true,
                    width: 450,
                    beforeShowForm: function (form) {

                        //POP UP Screen Fit Screen

                        var dlgDiv = $("#editmod" + jQuery("#ajaxGrid")[0].id);
                        var parentDiv = dlgDiv.parent();
                        var dlgWidth = dlgDiv.width();
                        var parentWidth = parentDiv.width();
                        var dlgHeight = dlgDiv.height();
                        var parentHeight = parentDiv.height();
                        // TODO: change parentWidth and parentHeight in case of the grid
                        //       is   larger as the browser window
                        //dlgDiv[0].style.top = Math.round((parentHeight-dlgHeight)/2) + "px";
                        dlgDiv[0].style.left = Math.round((parentWidth - dlgWidth) / 2) + "px";

                        //End POP UP Screen Fit Screen

                        var sel_id = $('#ajaxGrid').jqGrid('getGridParam', 'selrow');
                        var value = $('#ajaxGrid').jqGrid('getCell', sel_id, 'IsActive');


                        var Defaultflag = $('#ajaxGrid').jqGrid('getCell', sel_id, 'Defaultflag');

                        var Specialflag = $('#ajaxGrid').jqGrid('getCell', sel_id, 'Specialflag');

                        var Fieldwork = $('#ajaxGrid').jqGrid('getCell', sel_id, 'Fieldwork');

                        if (value == 'InActive') {
                            $('#tr_IsActive', form).show();
                        }
                        else {
                            $('#tr_IsActive', form).hide();
                        }


                        if (Defaultflag == 'Active') {
                            $('#tr_Defaultflag', form).show();
                        }
                        else {
                            $('#tr_Defaultflag', form).show();
                        }

                        if (Specialflag == 'Active') {
                            $('#tr_Specialflag', form).show();
                        }
                        else {
                            $('#tr_Specialflag', form).show();
                        }

                        if (Fieldwork == 'Active') {
                            $('#tr_Fieldwork', form).show();
                        }
                        else {
                            $('#tr_Fieldwork', form).show();
                        }


                    },
                    afterSubmit: function (response, postdata) {
                        alert('Information Saved Successfully');
                        $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        return [true, "", ''];
                    },
                    closeAfterEdit: true,
                },

            {
                //Add Portion

                closeOnEscape: true,
                closeAfterAdd: true,
                width: 450,
                beforeShowForm: function (form) {

                    //POP UP Screen Fit Screen

                    var dlgDiv = $("#editmod" + jQuery("#ajaxGrid")[0].id);
                    var parentDiv = dlgDiv.parent();
                    var dlgWidth = dlgDiv.width();
                    var parentWidth = parentDiv.width();
                    var dlgHeight = dlgDiv.height();
                    var parentHeight = parentDiv.height();
                    // TODO: change parentWidth and parentHeight in case of the grid
                    //       is   larger as the browser window
                    //dlgDiv[0].style.top = Math.round((parentHeight-dlgHeight)/2) + "px";
                    dlgDiv[0].style.left = Math.round((parentWidth - dlgWidth) / 2) + "px";

                    //End POP UP Screen Fit Screen

                    $('#tr_IsActive', form).show();
                    $('#tr_Defaultflag', form).show();
                    $('#tr_Specialflag', form).show();
                    $('#tr_Fieldwork', form).show();
                },
                afterSubmit: function (response, postdata) {
                    alert('Information Saved Successfully');
                    $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    return [true, "", ''];
                }
            },
                {
                    //Delete
                    width: 450,
                    beforeShowForm: function (form) {

                        //POP UP Screen Fit Screen

                        var dlgDiv = $("#delmod" + jQuery("#ajaxGrid")[0].id);
                        var parentDiv = dlgDiv.parent();
                        var dlgWidth = dlgDiv.width();
                        var parentWidth = parentDiv.width();
                        var dlgHeight = dlgDiv.height();
                        var parentHeight = parentDiv.height();
                        // TODO: change parentWidth and parentHeight in case of the grid
                        //       is   larger as the browser window
                        //dlgDiv[0].style.top = Math.round((parentHeight-dlgHeight)/2) + "px";
                        dlgDiv[0].style.left = Math.round((parentWidth - dlgWidth) / 2) + "px";

                        //End POP UP Screen Fit Screen

                        $('#tr_IsActive', form).show();
                        $('#tr_Defaultflag', form).show();
                        $('#tr_Specialflag', form).show();
                        $('#tr_Fieldwork', form).show();
                    },
                }

                    );


            // setMethod('gridId', 'gridPager', 'pageTitle');
            setMethod('ajaxGrid', 'ajaxGridPager', 'Customer Grid');

        }

        function setMethod(gid, id, pgTitle) {
            // alert(1);
            var btnTitle = 'Export to Excel';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-calculator', onClickButton: function () { ExcelExport(); } });

            var btnTitle = 'Export to PDF';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-bookmark', onClickButton: function () { PDFExport(); } });

            var btnTitle = 'Export to CSV';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-note', onClickButton: function () { CSVExport(); } });


            var btnTitle = 'Print Grid';
            $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
            $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-print', onClickButton: function () { PrintGrid(gid); } });
        }
        function ExcelExport() {
            window.location = '@Url.Action("ExportUnlockUserToExcel")';
        }
        function PDFExport() {
            window.location = '@Url.Action("ExportUnlockUserToPDF")';
        }
        function CSVExport() {
            window.location = '@Url.Action("ExportUnlockUserToCsv")';
        }
        function PrintGrid(gid) {

            var rows = $('#HolidayGroup').jqGrid('getRowData');
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                $('#Table1').append("<tr><td>" + row.HolidayGroupName + "</td><td>" + row.IsActive + "</td></tr>");

            }
            $(function () { printChrome('prt-container') });

        }

        function printChrome(divContainer) {

            var printContent = document.getElementById(divContainer);
            window.document.body.innerHTML = printContent.innerHTML;
            window.print();
            window.location.reload();
        }


    </script>
    
   <div id='prt-container' style="display:none">
        <table id="Table1" border="1" width="100%">
            <thead>
                <tr>
                    <td><b>EmployeeName</b></td>
                    <td><b>LockedDate</b></td>
                </tr>

            </thead>
            <tbody></tbody>

        </table>
    </div>



}