@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}


<body>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div>
            <table border="0" style="width: 100%">
                <tr>
                    <td>
                        <!--JqGrid Starts-->
                        <table style="margin-top: 7px; width :100%" border="0">
                            <tr>
                                <td>
                                    <table id="ajaxGrid" style="width: 100%" border="0"></table>
                                    <div id="ajaxGridPager">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!--Ends-->
                    </td>
                </tr>
            </table>            
        </div>
    }

    <script type="text/javascript">

    function validSpecial(objElement) {

        var re = /^[a-zA-Z0-9-/\s.:]*/gi;
        if (objElement.value.match(re) != objElement.value) {
            alert('No Special Characters Allowed');
            objElement.value = '';

            return false;
        }

    }


    jQuery(document).ready(function () {

        initGrid();
    });
    function initGrid() {
        jQuery("#ajaxGrid").jqGrid({
            url: '@Url.Action("GridDataFAQ")',

            datatype: "json",
            jsonReader: { repeatitems: false, id: "PKID" },
            colNames: ['PKID', 'CategoryFKID', 'Category', 'Question Type', 'Answer', 'Status'],
            colModel: [
                 { name: 'PKID', index: 'PKID', align: 'left', hidden: true, editable: true },
                 { name: 'CategoryFKID', index: 'CategoryFKID', align: 'left', hidden: true, editable: true },

                {
                    name: 'GenName', index: 'GenName', align: 'left',editable: true, sortable: true, edittype: 'select', editoptions: { dataUrl: '@Url.Action("FAQCategory")' }, formoptions: {
                            size: 35,
                            elmprefix: "<span style='align:left;color:red'>*</span>&nbsp;"
                    }, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, search: true, searchrules: { required: true }
                    },
                     {
                         name: 'Question', index: 'Question', align: 'left', editable: true, editrules: { edithidden: true  }, search: false, editoptions: {
                             size: 35,
                             maxlength: 50,
                             dataEvents: [
                                 {
                                     type: 'keyup', // blur
                                     fn: function (e) {
                                         SingleCharacter(this);
                                     }
                                 }
                             ]
                         }, formoptions: {
                             elmprefix: "<span style='align:left;color:red'>*</span>&nbsp;"
                         },
                     },
                    {
                        name: 'Answer', index: 'Answer', align: 'left', resizable: false, editable: true, search: false, editrules: { edithidden: true }, editoptions: {
                            size: 35, maxlength: 50,
                            dataEvents: [
                                {

                                    type: 'keyup', // blur
                                    fn: function (e) {
                                        SingleCharacter(this);
                                    }

                                }
                            ]
                        }, formoptions: {
                            elmprefix: "<span style='align:left;color:red'>*</span>&nbsp;"
                        },
                    },
                    {
                        name: 'IsActive', index: 'IsActive', align: 'left', resizable: false, editable: true, edittype: 'checkbox',editoptions: { value: "Active:Passive", defaultValue: "Active" }, formoptions: {
                            elmprefix: "&nbsp;&nbsp;&nbsp;"

                        }, search: false
                    },

                ],
                autowidth: true,
                gridview: true,
                caption: 'FAQ',
                jqModal: true,
                align: 'center',
                sortable: true,
                hidegrid: true,
                altRows: true,
                sortname: 'PKID',
                sortorder: 'desc',
                rowTotal: 10,
                rowNum: 10,
                gridComplete: function () {

                    if (jQuery("#ajaxGrid").getGridParam("records") == 0) {
                        jQuery("#ajaxGrid").addRowData(
                        "blankRow", { "GenName": "No records to view" });
                    }
                },

                viewrecords: true,
                pager: $('#ajaxGridPager'),
                height: 'auto',
                editable: true,
               editurl: '@Url.Action("EditFAQ")'
    });


    jQuery("#ajaxGrid").jqGrid('navGrid', '#ajaxGridPager', { edit: true, add: true, del: true, search: true, view: true },
        {
            // Edit Portion
            closeOnEscape: true,
            width: 600,
            modal: true,
            recreateForm: true,
            checkOnSubmit: true,
            afterShowForm: function (form_id) {
                var thisForm = form_id.selector.replace('FrmGrid_', 'editmod')
                var dialogHeight = $(thisForm).height();
                var dialogWidth = $(thisForm).width();
                var windowHeight = $(window).height();
                var windowWidth = $(window).width();
                $(thisForm).css('position', 'fixed');
                $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
            },
            beforeSubmit: function (response, postdata) {
                $('select').css("border", "1px solid #C0C0C0");
                $("input[type=text]").css("border", "1px solid #C0C0C0");
                if ($("#GenName option:selected").text() == "Select") {
                    $('#GenName').focus();
                    $("#GenName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                    return [false, 'Please Select Category'];
                }
                else if ($("#Question").val().charAt(0) == ' ' || $("#Question").val().charAt($("#Question").val().length - 1) == ' ' || $("#Question").val() == "") {
                    $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                    $("#Question").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                    $('#Question').val('');
                    $('#Question').focus();

                    return [false, 'Enter Valid Question'];
                }
                else if ($("#Answer").val().charAt(0) == ' ' || $("#Answer").val().charAt($("#Answer").val().length - 1) == ' ' || $("#Answer").val() == "") {
                    $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                    $("#Answer").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                    $('#Answer').val('');
                    $('#Answer').focus();

                    return [false, 'Enter Valid Answer'];
                }


                else {
                    return [true, response.responseText];
                }


            },
            afterSubmit: function (response, postdata) {

                
                $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                $("input[type=text]").val('');
                $('#GenName').val('0');
                $("#IsActive").prop('checked', false);
                return [false, response.responseText];
            },

        },

    {
        //Add Portion
        closeOnEscape: true,
        closeAfterAdd: true,
        recreateForm: true,
        width: 600,
        modal: true,
        afterShowForm: function (form_id) {
            var thisForm = form_id.selector.replace('FrmGrid_', 'editmod');
            var dialogHeight = $(thisForm).height();
            var dialogWidth = $(thisForm).width();
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            $(thisForm).css('position', 'fixed');
            $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
            $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
        },
        beforeShowForm: function (form) {
            $('#tr_IsActive', form).hide();

            $("#ajaxGrid").jqGrid('resetSelection');
        },
        beforeSubmit: function (response, postdata) { 
            $('select').css("border", "1px solid #C0C0C0");
            $("input[type=text]").css("border", "1px solid #C0C0C0");
            if ($("#GenName option:selected").text() == "Select") {
                $('#GenName').focus();
                $("#GenName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                return [false, 'Please Select Category'];
            }
            else if ($("#Question").val().charAt(0) == ' ' || $("#Question").val().charAt($("#Question").val().length - 1) == ' ' || $("#Question").val() == "") {
                $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                $("#Question").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#Question').val('');
                $('#Question').focus();

                return [false, 'Enter Valid Question'];
            }
            else if ($("#Answer").val().charAt(0) == ' ' || $("#Answer").val().charAt($("#Answer").val().length - 1) == ' ' || $("#Answer").val() == "") {
                $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                $("#Answer").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                $('#Answer').val('');
                $('#Answer').focus();

                return [false, 'Enter Valid Answer'];
            }


            else {
                return [true, response.responseText];
            }
           

        },

        afterSubmit: function (response, postdata) {

          
            if (response.responseText == "\"FAQ Master Added Successfully.\"") {
                $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                $("input[type=text]").val('');
                $('#GenName').val('0');
                $("#IsActive").prop('checked', false);
               
                return [false, response.responseText];
            }
            else {
                $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                return [false, response.responseText];
            }


            
        },
        onclickSubmit: function (params, posdata) {
            //string id, string oper, string PKID, string GenName, string Question, string Answer, string IsActive
            params.url = '@Url.Action("AddFAQ")?GenName=' + $('#GenName').val() + '&Question=' + $('#Question').val() + '&Answer=' + $('#Answer').val() + '&IsActive' + $('#IsActive').val() ;
            
        },
    },
        {
            //Delete
            closeOnEscape: true,
            recreateForm: true,
            width: 450,
            modal:true,
            beforeShowForm: function (form) {

                //POP UP Screen Fit Screen

                var thisForm = $("#delmod" + jQuery("#ajaxGrid")[0].id);
                var dialogHeight = $(thisForm).height();
                var dialogWidth = $(thisForm).width();
                var windowHeight = $(window).height();
                var windowWidth = $(window).width();
                $(thisForm).css('position', 'fixed');
                $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));


                var col1 = $('#ajaxGrid').jqGrid('getGridParam', 'selrow');  
                var IsActive = $('#ajaxGrid').jqGrid('getCell', col1, 'IsActive');


                $('tr td.delmsg').html('Delete selected record(s)?');
               
                if (IsActive == "Inactive") {
                    $('tr td.delmsg').html('Record Already Deleted');
                    $('#dData').hide();
                }
                else
                    $('#dData').show();

                //var html = "<form><table><tr><td class='CaptionTD'>Category </td><td class=='DataTD'>&nbsp;&nbsp;<input type='text' class='FormElement ui-widget-content ui-corner-all' readonly='true'  value='" + Category + "'/></td> </tr>";
                //html += "<tr><td class='CaptionTD'>Question Type</td><td class=='DataTD'>&nbsp;&nbsp;<input type='text' class='FormElement ui-widget-content ui-corner-all' readonly='true'  value='" + Question + "'/></td></tr>";
                //html += "<tr><td class='CaptionTD'>Answer</td><td class=='DataTD'>&nbsp;&nbsp;<input type='text' class='FormElement ui-widget-content ui-corner-all' readonly='true'  value='" + Answer + "'/></td></tr>";
                //if (IsActive == "Active")
                //    html += "<tr><td class='CaptionTD'>Status</td><td class=='DataTD'>&nbsp;&nbsp;<input class='FormElement ui-widget-content ui-corner-all'   type='checkbox' checked  disabled/></td>";
                //if (IsActive == "Inactive")
                //    html += "<tr><td class='CaptionTD'>Status</td><td class=='DataTD'>&nbsp;&nbsp; <input class='FormElement ui-widget-content ui-corner-all'   type='checkbox' disabled /></td></tr>";
                //html += "</table></form>";
                //$("td.delmsg", form[0]).html(html);


                //End POP UP Screen Fit Screen


            },
            afterSubmit: function (response, postdata) {

                $('tr td.delmsg').html('');
                $('#dData').hide();
                $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                $('#DelTbl_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                
                return [false, response.responseText];

               
            }
        },
    {
        //Search

        closeOnEscape: true,
        modal: true,
        recreateForm: true,
        width: 600,
        caption: "Search",
        
        searchOnEnter: true,
        beforeShowSearch: function (form) {

            $('#jqg1').val('');
            $('#fbox_ajaxGrid_reset').click();

            var dialogHeight = $("#searchmodfbox_ajaxGrid").height();
            var dialogWidth = $("#searchmodfbox_ajaxGrid").width();
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            $("#searchmodfbox_ajaxGrid").css('position', 'fixed');
            $("#searchmodfbox_ajaxGrid").css('top', ((windowHeight - dialogHeight) / 2));
            $("#searchmodfbox_ajaxGrid").css('left', ((windowWidth - dialogWidth) / 2));

            return [true, ""];
        },
    },
    {
        //View :
        closeOnEscape: true,
        recreateForm: true,
        width: 600,
        modal:true,
        beforeShowForm: function (form) {

            var thisForm = $("#viewmod" + jQuery("#ajaxGrid")[0].id);
            var dialogHeight = $(thisForm).height();
            var dialogWidth = $(thisForm).width();
            var windowHeight = $(window).height();
            var windowWidth = $(window).width();
            $(thisForm).css('position', 'fixed');
            $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
            $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
        }

    }


            );

    // setMethod('LocationMaster', 'LocationMasterPager', 'Customer Grid', 'ManageUsers', 'LocationMaster.cshtml');

    // setMethod('gridId', 'gridPager', 'pageTitle');
    setMethod('ajaxGrid', 'ajaxGridPager', 'Customer Grid');

    }

    function setMethod(gid, id, pgTitle) {
        // alert(1);
        var btnTitle = 'Export to Excel';
        $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
        $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-calculator', onClickButton: function () { ExcelExport(); } });

        var btnTitle = 'Export to PDF';
        $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
        $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-bookmark', onClickButton: function () { PDFExport(); } });

        var btnTitle = 'Export to CSV';
        $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
        $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-note', onClickButton: function () { CSVExport(); } });


        var btnTitle = 'Print Grid';
        $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
        $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-print', onClickButton: function () { PrintGrid(gid); } });
    }
    function ExcelExport() {
        window.location = '@Url.Action("ExportFAQToExcel")';
    }
    function PDFExport() {
        window.location = '@Url.Action("ExportFAQToPDF")';
    }
    function CSVExport() {
        window.location = '@Url.Action("ExportFAQToCsv")';
    }
    function PrintGrid(gid) {

        var rows = $('#ajaxGrid').jqGrid('getRowData');
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            $('#Table1').append("<tr><td>" + row.GenName + "</td><td>" + row.Question + "</td><td>" + row.Answer + "</td><td>" + row.IsActive + "</td></tr>");
        }
        $(function () { printChrome('prt-container') });

    } 

    function printChrome(divContainer) {

        var printContent = document.getElementById(divContainer);
        window.document.body.innerHTML = printContent.innerHTML;
        window.print();
        window.location.reload();
    }


    </script>
    <div id='prt-container' style="display:none">
        <table id="Table1" border="1" width="100%">
            <thead>
                <tr>
                    <td><b>Category</b></td>
                    <td><b>Question Type</b></td>
                    <td><b>Answer</b></td>
                    <td><b>Status</b></td>
                </tr>

            </thead>
            <tbody></tbody>

        </table>
    </div>


</body>