@{
    ViewBag.Title = "StrategicPlanningMaster";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}




<body>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div>
            <table border="0" style="width: 100%">
                <tr>
                    <td>
                        <!--JqGrid Starts-->
                        <table style="margin-top: 7px; width :100%" border="0">
                            <tr>
                                <td>
                                    <table id="ajaxGrid" style="width: 100%" border="0"></table>
                                    <div id="ajaxGridPager">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!--Ends-->
                    </td>
                </tr>
            </table>

        </div>
    }
</body>

<script type="text/javascript">

    jQuery(document).ready(function () {

        initGrid();
    });

    function validSpecial(objElement) {

        var re = /^[a-zA-Z0-9-/\s.:]*/gi;
        if (objElement.value.match(re) != objElement.value) {
            alert('No Special Characters Allowed');
            objElement.value = '';

            return false;
        }

    }
    function initGrid() {
        jQuery("#ajaxGrid").jqGrid({
            url: '@Url.Action("GridDataStrategicPlanningMaster")' ,

            datatype: "json",
            jsonReader: { repeatitems: false, id: "PKID" },
            colNames: ['PKID', 'Strategic Planning', 'Status'],
            colModel: [
                
                 { name: 'PKID', index: 'PKID', align: 'left', hidden: true, editable: true },                
                 {
                     name: 'FormName', index: 'FormName', align: 'left', editable: true, editrules: { edithidden: true, required: false }, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, editoptions: {
                         size: 35,
                         maxlength:20,
                          dataEvents: [
                             {
                                 type: 'keyup', // blur
                                 fn: function (e) {
                                     CharacterAndNumber(this);
                                 }
                             }
                         ]
                     }, formoptions: {
                         
                         elmprefix: "<span style='align:left;color:red'>*</span>&nbsp;"
                     },searchrules:{required:true}
                 },
                 {
                     name: 'IsActive', index: 'IsActive', align: 'left', resizable: false, editable: true, edittype: 'checkbox', editoptions: { value: "Active:Passive", defaultValue: "Active" }, searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn'] }, formoptions: {
                     //    elmprefix: "<span style='align:left;color:red'>*</span>&nbsp;"
                     }, search: false
                 },

            ],
            caption: "StrategicPlanningMaster",
            autowidth: true,
            gridview: true,
            sortable: true,
            hidegrid: true,
            altRows: true,
            sortname: 'PKID',
            sortorder: 'desc',
            rowTotal: 10,
            rowNum: 10,
            gridComplete: function () {

                if (jQuery("#ajaxGrid").getGridParam("records") == 0) {
                    jQuery("#ajaxGrid").addRowData(
                    "blankRow", { "FormName": "No records to view" });
                }
            },
            viewrecords: true,
            pager: $('#ajaxGridPager'),
            height: 'auto',
            editable: true,
            editurl: '@Url.Action("EditStrategicPlanningMaster")'
        });


        jQuery("#ajaxGrid").jqGrid('navGrid', '#ajaxGridPager', { edit: true, add: true, del: true, search: true },
            {
                // Edit Portion
                closeOnEscape: true,
                width: 600,
                recreateForm: true,
                modal:true,
                checkOnSubmit: true,
                afterShowForm: function (form_id) {
                    var thisForm = form_id.selector.replace('FrmGrid_', 'editmod')
                    var dialogHeight = $(thisForm).height();
                    var dialogWidth = $(thisForm).width();
                    var windowHeight = $(window).height();
                    var windowWidth = $(window).width();
                    $(thisForm).css('position', 'fixed');
                    $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                    $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
                },

                beforeShowForm: function (form) {              

                    var sel_id = $('#ajaxGrid').jqGrid('getGridParam', 'selrow');
                    var value = $('#ajaxGrid').jqGrid('getCell', sel_id, 'IsActive');
                   
                    if (value == 'Inactive')
                    {
                        $('#tr_IsActive', form).show();
                    }
                    else
                    {                     

                        $('#tr_IsActive', form).show();                       
                    }
                },
                beforeSubmit: function (response, postdata) {

                    if ($("#FormName").val().charAt(0) == ' ' || $("#FormName").val().charAt($("#FormName").val().length - 1) == ' ') {
                        $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                        $("#FormName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                        $('#FormName').focus();
                        return [false, 'Enter Valid FormName'];
                    }

                    $('select').css("border", "1px solid #C0C0C0");
                    $("input[type=text]").css("border", "1px solid #C0C0C0");
                    var error = " ";
                   
                   
                    if ($.trim($("#FormName").val()) == "") {
                        error += "FormName";
                        $('#FormError').html("<td class='ui-state-error' colspan='2'>" + error + ":Field is required</td>");
                        $("#FormName").val();
                        $('#FormName').focus();
                        $("#FormName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                        return [false, response.responseText];
                    }
                   
                    else {
                        return [true, response.responseText];
                    }

                },
                afterSubmit: function (response, postdata) {

                    $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                    $("input[type=text]").val('');
                    $("#IsActive").prop('checked', false);
                    return [false, response.responseText];
                },
                
            },

        {
            //Add Portion
            closeOnEscape: true,            
            recreateForm: true,
            modal: true,
            width: 450,
            afterShowForm: function (form_id) {
                var thisForm = form_id.selector.replace('FrmGrid_', 'editmod');
                var dialogHeight = $(thisForm).height();
                var dialogWidth = $(thisForm).width();
                var windowHeight = $(window).height();
                var windowWidth = $(window).width();
                $(thisForm).css('position', 'fixed');
                $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));
            },
            beforeShowForm: function (form) {              
                $('#tr_IsActive', form).show();
            },
            onclickSubmit: function (params, posdata) {

                params.url = '@Url.Action("AddStrategicPlanningMaster")?FormName=' + $('#FormName').val() + '&IsActive=' + $('#IsActive').val() + '&id=' + $('#PKID').val();
            },
            beforeSubmit: function (response, postdata) {

                if ($("#FormName").val().charAt(0) == ' ' || $("#FormName").val().charAt($("#FormName").val().length - 1) == ' ') {
                    $('#TblGrid_ajaxGrid td.ui-state-highlight').removeClass('ui-state-highlight').addClass('ui-state-error');
                    $("#FormName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                    $('#FormName').focus();
                    return [false, 'Enter Valid FormName'];
                }

                $('select').css("border", "1px solid #C0C0C0");
                $("input[type=text]").css("border", "1px solid #C0C0C0");
                var error = " ";


                if ($.trim($("#FormName").val()) == "") {
                    error += "FormName";
                    $('#FormError').html("<td class='ui-state-error' colspan='2'>" + error + ":Field is required</td>");
                    $("#FormName").val();
                    $('#FormName').focus();
                    $("#FormName").css("background-color", "#FFE8E8").css("border", "1px solid #FF6666");
                    return [false, response.responseText];
                }

                else {
                    return [true, response.responseText];
                }

            },
            afterSubmit: function (response, postdata) {
                $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                var errorId = " ";
                $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                $("#FormName").val("");
                $("TeamName").val(0);
                return [false, response.responseText];

                if (response.responseText == "\"StrategicPlanning Master added successfully\"") {
                    errorId += "StrategicPlanning Master Added Successfully";
                    $('#FormError').html("<td class='ui-state-error' colspan='2'>" + errorId + "</td>");
                    $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                    $("#FormName").val("");
                    $("#TeamName").val();
                    return [false, response.responseText];
                }
                else {
                    errorId += "StrategicPlanning Master already Exists";
                    $('#FormError').html("<td class='ui-state-error' colspan='2'>" + errorId + "</td>");
                    $('#TblGrid_ajaxGrid td.ui-state-error').removeClass('ui-state-highlight').addClass('ui-state-error');
                    $("#FormName").val("");
                     $("#TeamName").val();
                    return [false, response.responseText];

                }               
                
               
            }
        },
                {
                    //Delete
                    closeOnEscape: true,
                    recreateForm: true,
                    modal: true,
                    width: 450,
                    beforeShowForm: function (form) {

                        //POP UP Screen Fit Screen

                        var thisForm = $("#delmod" + jQuery("#ajaxGrid")[0].id);
                        var dialogHeight = $(thisForm).height();
                        var dialogWidth = $(thisForm).width();
                        var windowHeight = $(window).height();
                        var windowWidth = $(window).width();
                        $(thisForm).css('position', 'fixed');
                        $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                        $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));


                        var col1 = $('#ajaxGrid').jqGrid('getGridParam', 'selrow');
                        $('tr td.delmsg').html('Delete selected record(s)?');

                        $('#ajaxGrid').jqGrid('getGridParam', 'selrow');
                        var IsActive = $('#ajaxGrid').jqGrid('getCell', col1, 'IsActive');
                        if (IsActive == "Inactive") {
                            $('tr td.delmsg').html('Record Already Deleted');
                            $('#dData').hide();
                        }
                        else
                            $('#dData').show();

                        //var FormName = $('#ajaxGrid').jqGrid('getCell', col1, 'FormName');
                        //var IsActive = $('#ajaxGrid').jqGrid('getCell', col1, 'IsActive');

                        //var html = "<form><table><tr><td class='CaptionTD'>Strategic Planning</td><td class=='DataTD'>&nbsp;&nbsp;<input type='text' class='FormElement ui-widget-content ui-corner-all' readonly='true'  value='" + FormName + "'/></td> </tr>";

                        //if (IsActive == "Active")
                        //    html += "<tr><td class='CaptionTD'>Status</td><td class=='DataTD'>&nbsp;&nbsp;<input class='FormElement ui-widget-content ui-corner-all' id='IsActive'   type='checkbox' checked  disabled/></td>";
                        //if (IsActive == "Inactive")
                        //    html += "<tr><td class='CaptionTD'>Status</td><td class=='DataTD'>&nbsp;&nbsp; <input class='FormElement ui-widget-content ui-corner-all'   type='checkbox' disabled /></td></tr>";
                        //html += "</table></form>";
                        //$("td.delmsg", form[0]).html(html);


                        //End POP UP Screen Fit Screen


                    },
                    afterSubmit: function (response, postdata) {
                        $('tr td.delmsg').html('');
                        $('#dData').hide();
                        $("#ajaxGrid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                        $('#DelTbl_ajaxGrid td.ui-state-error').removeClass('ui-state-error').addClass('ui-state-highlight');
                        $("input[type=text]").val('');
                        $("#IsActive").prop('checked', false);
                        return [false, response.responseText];
                    }
                },
            {
                //Search

                closeOnEscape: true,
                modal: true,
                recreateForm: true,
                width: 600,
                caption: "Search",
                searchOnEnter: true,
                beforeShowSearch: function (form) {

                    $('#jqg1').val('');
                    $('#fbox_ajaxGrid_reset').click();

                    var dialogHeight = $("#searchmodfbox_ajaxGrid").height();
                    var dialogWidth = $("#searchmodfbox_ajaxGrid").width();
                    var windowHeight = $(window).height();
                    var windowWidth = $(window).width();
                    $("#searchmodfbox_ajaxGrid").css('position', 'fixed');
                    $("#searchmodfbox_ajaxGrid").css('top', ((windowHeight - dialogHeight) / 2));
                    $("#searchmodfbox_ajaxGrid").css('left', ((windowWidth - dialogWidth) / 2));

                    return [true, ""];
                }
            },
            {
                //View :
                closeOnEscape: true,
                recreateForm: true,
                modal: true,
                width: 600,

                beforeShowForm: function (form) {


                    var thisForm = $("#viewmod" + jQuery("#ajaxGrid")[0].id);
                    var dialogHeight = $(thisForm).height();
                    var dialogWidth = $(thisForm).width();
                    var windowHeight = $(window).height();
                    var windowWidth = $(window).width();
                    $(thisForm).css('position', 'fixed');
                    $(thisForm).css('top', ((windowHeight - dialogHeight) / 2));
                    $(thisForm).css('left', ((windowWidth - dialogWidth) / 2));

                }

            }

                );

        // setMethod('gridId', 'gridPager', 'pageTitle');
        setMethod('ajaxGrid', 'ajaxGridPager', 'Customer Grid');

    }

    function setMethod(gid, id, pgTitle) {
        // alert(1);
        var btnTitle = 'Export to Excel';
        $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
        $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-calculator', onClickButton: function () { ExcelExport(); } });

        var btnTitle = 'Export to PDF';
        $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
        $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-bookmark', onClickButton: function () { PDFExport(); } });

        var btnTitle = 'Export to CSV';
        $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
        $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-note', onClickButton: function () { CSVExport(); } });


        var btnTitle = 'Print Grid';
        $('#' + gid).jqGrid('navSeparatorAdd', '#' + id, { sepclass: "ui-separator" });
        $('#' + gid).jqGrid('navButtonAdd', '#' + id, { caption: '', title: btnTitle, position: 'last', buttonicon: 'ui-icon-print', onClickButton: function () { PrintGrid(gid); } });
    }
    function ExcelExport() {
        window.location = '@Url.Action("ExportStrategicPlanningMasterToExcel")';
    }
    function PDFExport() {
        window.location = '@Url.Action("ExportStrategicPlanningMasterToPDF")';
    }
    function CSVExport() {
        window.location = '@Url.Action("ExportStrategicPlanningMasterToCsv")';       
    }
    function PrintGrid(gid) {

        // empty the print div container.
        var rows = $('#ajaxGrid').jqGrid('getRowData');
        for (var i = 0; i < rows.length; i++) {
            var row = rows[i];
            $('#Table1').append("<tr><td>" + row.FormName + "</td><td>" + row.IsActive + "</td></tr>");

        }
        $(function () { printChrome('prt-container') });

    }

    function printChrome(divContainer) {
        
        var printContent = document.getElementById(divContainer);        
        window.document.body.innerHTML = printContent.innerHTML;
        window.print();
        window.location.reload();
    }


    </script>
    <div id='prt-container' style="display:none">
    <table id="Table1" border="1" width="100%">
        <thead>
            <tr>
                <td><b>Strategic Planning</b></td>
                <td><b>Status</b></td>
            </tr>

        </thead>
        <tbody></tbody>

    </table>
</div>

