@model Dictionary<int, string>

@if (ViewBag.Type == "TeamName")
{
    <select id="TeamName" multiple>

        <option value="">Select</option>
        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}

@if (ViewBag.Type == "SelTeamName")
{
    <select id="SelTeamName" name="SelTeamName" multiple>
        <option value="">Select</option>

        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()' selected="selected">@value.Value</option>
        }
    </select>
}

@if (ViewBag.Type == "InputName")
{
    <select id="InputName">
        <option value="0">Select</option>

        @foreach (KeyValuePair<int, string> value in Model)
        {
            <option value='@value.Key.ToString()'>@value.Value</option>
        }
    </select>
}

